[2020-01-27 03:23] wertycn opened #101 "个人创建了一个疫情信息导航网站，且项目已在github开源，有相关信息可以直接拿去用"
github 项目地址 ：https://github.com/wertycn/nCoV
正式环境地址： http://nav.werty.cn/
目前已提供 实时疫情，防疫知识，在线义诊，谣言鉴定，举报通道模块，希望能有所帮助

[2020-01-27 04:41] zhuangbiaowei commented on #101
谢谢，我们会加到项目的README里，作为友情链接。

你这边也欢迎互链

[2020-01-27 05:14] TechQuery commented on #2
1. 本 organization 的后端项目在负责数据接口，后面会提供统一的数据提交方式

2. WebCell 就是我对其它过重技术栈的不爽才开发的，但又都是基于成熟的底层技术（Web Components、TypeScript、BootStrap、Parcel 等），本项目就是以比同组织另一个 Ant Design 前端项目更快的开发速度脱颖而出的（年前一个只会 PHP、Vue 的妹子一天就上手当主力了）

[2020-01-27 05:44] shadowings-zy commented on #2
哦哦了解了~

[2020-01-27 05:52] wertycn commented on #101
已经添加到物资捐助板块

[2020-01-27 06:36] dhcn commented on #2
疫情面前需要发挥人民的力量，小众不利于协作。

[2020-01-27 11:44] TechQuery commented on #5
Windows 用户请在 PowerShell 5.1+、Git Bash 或 Windows Subsystem for Linux 中运行

[2020-01-27 12:16] TechQuery commented on #2
1. `*.github.io` 会被微信等 App 多加一层“安全提示”页，但从未被“墙”，我们正在找不被“提示”的域名

2. 此危机攸关之时，当然不是争辩技术优劣的时候，所以基于**抄起键盘就是一把梭**的 WebCell，我迅速地开发出了线上可用的版本 https://wuhan2020.github.io/ ，累计 **16 小时**（包括 CSV 改 YAML、静态数据改半动态、半动态改 REST API 等 3 次大重构，还包括[后端接口][1]开发，而第一次重构时本 org 下基于 Ant Design 的项目只起了脚手架）

【历史记录】
- [fork 时的提交](https://github.com/EasyWebApp/wuhan2020/commits?author=TechQuery)
- [重新建库后的提交](https://github.com/wuhan2

[2020-01-27 12:19] TechQuery commented on #2
@shadowings-zy 可以去 https://wuhan2020.github.io/ 提交数据了

[2020-01-28 05:48] TechQuery opened #7 "酒店列表页"
## 主要字段

1. 店名
2. 地址（包括独立的省市区字段）
3. 官方网址
4. 可接待人数
5. 联系人

## 参考数据

https://shimo.im/sheets/Hd9C3QytrJK3RWxG/z1rye/

[2020-01-28 06:13] TechQuery opened #9 "捐助接受方列表页"
## 主要字段

1. 机构名
2. 官方网址
3. 银行账户（开户行、账号、户名）
4. 联系人（姓名、电话）
5. 备注

## 参考数据

https://shimo.im/sheets/W3gxW6cwkYTDY6DD/

[2020-01-28 06:21] TechQuery opened #10 "义诊机构列表页"
## 主要字段

1. 机构/个人名
2. 官网网址
3. 联系人（姓名、电话）
4. 每日接诊起止时刻
5. 备注

## 参考数据

https://shimo.im/sheets/JgXjYCJJTRQxJ3GP/MODOC/

[2020-01-28 08:24] TechQuery opened #12 "物流公司发布页"
## 主要字段

1. 公司名
2. 官方网址
3. 服务城市
4. 运输方向（出/入）
5. 联系人（姓名、电话）
6. 是否承接个人业务
7. 备注

## 参考数据

https://shimo.im/sheets/RTHXp3ghtKXY3GcC/MODOC/

[2020-01-28 08:27] osbornwang commented on #7
@TechQuery

[2020-01-28 08:32] gaohaoyue commented on #10
@TechQuery assign 给我吧

[2020-01-28 09:02] maobaolong opened #13 "疫情趋势图(按城市划分)，可以分别看确诊、疑似、死亡、治愈的数量折线图"

[2020-01-28 09:19] TechQuery commented on #13
我觉得可以直接链接 https://3g.dxy.cn/newh5/view/pneumonia
或者你可以去 https://github.com/wuhan2020/map-viz 看看有啥要帮忙的

[2020-01-28 11:02] oDen7 commented on #7
你好 请问这个页面 的  @TechQuery
![31580209228_ pic_hd](https://user-images.githubusercontent.com/40536961/73258400-924a5680-4200-11ea-8d8a-34c5ed6f779f.jpg)
![21580209212_ pic_hd](https://user-images.githubusercontent.com/40536961/73258407-95454700-4200-11ea-9a16-57582b29ff3a.jpg)

[2020-01-28 11:05] oDen7 commented on #7
您好 请问 这个 页面 的 接口 在呢？
![31580209228_ pic_hd](https://user-images.githubusercontent.com/40536961/73258592-fff68280-4200-11ea-8f53-d0c26f784db9.jpg)

[2020-01-28 11:07] oDen7 commented on #7
您好 这个页面 的 接口 在哪里？
链接: https://pan.baidu.com/s/1PXPgwmh4Clw884npZtJodA 提取码: dc69

[2020-01-28 11:16] daituzhang commented on #8
/self-assign

[2020-01-28 11:20] oDen7 commented on #7
/self-assign

[2020-01-28 11:21] oDen7 commented on #7
/self-assign

[2020-01-28 11:39] daituzhang commented on #2
@TechQuery 所以所有csv都会改成yaml吗？还是未改为yaml数据直接parse csv？

[2020-01-28 11:52] gongzhibin commented on #12
@TechQuery assign 给我吧

[2020-01-28 11:57] holidaying commented on #9
我来认领

[2020-01-28 11:58] gongzhibin commented on #12
@TechQuery assign 给我吧

[2020-01-28 11:58] gongzhibin commented on #12
/self-assign

[2020-01-28 12:57] TechQuery commented on #7
@oDen7 先做静态页面，数据我来接

[2020-01-28 13:01] TechQuery commented on #16
1. GET `/session` 401 是正常的，这是在检查登录状态
2. 第二个有详细截图、描述吗？

[2020-01-28 13:09] TechQuery commented on #2
@daituzhang 主库现在有程序同步更新 JSON，我们从 https://github.com/wuhan2020/wuhan2020/tree/master/data/json 取

[2020-01-28 13:13] daituzhang commented on #2
@TechQuery 谢谢！除了医院和物流外的json，其他资源有人在更新吗？

[2020-01-28 13:28] holidaying commented on #16
http://127.0.0.1:1234/#hospital，用ip地址访问么问题

[2020-01-28 13:43] TechQuery commented on #2
@daituzhang 其他人在搞
https://github.com/wuhan2020/api-server
https://github.com/wuhan2020/data-sync

[2020-01-28 13:45] TechQuery commented on #16
没遇到过这种问题，发一下操作系统、命令行终端、Node.js 版本等信息看看

[2020-01-28 14:07] osbornwang commented on #7
emmm 页面我已经搞好了。。。。在等接口 编辑的页面也好了 也在等接口

[2020-01-28 14:24] TechQuery commented on #17
地图不方便手机端查看，我们是**移动优先**的

[2020-01-28 15:38] yylou15 opened #19 "医院界面API调用次数超限"
网站aapi server托管在第三方云平台，好像对开发版的调用次数有限制，coder看下能否买一点调用量或者走自有服务器，如果需要我这可以做代理
<img width="1680" alt="QQ20200128-233748@2x" src="https://user-images.githubusercontent.com/32712286/73278871-3515cb80-4227-11ea-9bd1-e4595cc71557.png">

[2020-01-29 01:27] YagiGo commented on #20
Hi there, I can speak English. The translation here is not very clear and I have difficulties understanding your points here. So please share your opinion again in English so I can understand better. :)

[2020-01-29 01:57] bboychencan opened #21 "微信分享网站链接https://wuhan2020.github.io/ 无法打开"

[2020-01-29 02:00] JGX020 commented on #21
http://111.231.221.129
这有个备用的

[2020-01-29 02:06] zhang570751696 commented on #16
在正式环境的页面上，目前已经可以打开了

[2020-01-29 02:39] zhuangbiaowei opened #23 "对于页面展示的建议"
1. 首页，调整顺序与显示内容

* 医院，建议改为：医院急需物资
* 捐赠，建议改为：捐赠信息汇总
* 物流，建议改为：物流公司
* 酒店，建议改为：医护人员免费住宿信息
* 生产，建议不再显示
* 义诊，建议不再显示

【理由】：在首页给出更加明确的提示，方便查看。生产和义诊，信息量很少，且不会频繁更新，建议不必显示。

2. 点击进入医院求助信息后

* 优先展示最近10条求助信息
* 提供按城市筛选的途径（下拉框或其他）
* 增加状态栏，提示是否已经获得援助物资

【理由】：方便查看

[2020-01-29 04:16] oDen7 commented on #7
@TechQuery 建议是否 可以 撰写一篇  开源接口文档，这样效率会很高，对于前端来说，这些页面就是标准的curd，页面渲染，所以接口数据很重要。

[2020-01-29 04:21] oDen7 commented on #7
@TechQuery 严格意义上说，如果没有规范的ui设计图，完全可以按照 医院列表  页面的形式渲染数据，这样的话，只需要写出一个通用组件就可以。

[2020-01-29 04:46] YagiGo opened #24 "对还没有开放的页面增加提示"

[2020-01-29 04:46] YagiGo commented on #24
比如正在开发中之类的，点了之后没有反应感觉不是很好

[2020-01-29 04:52] huahua726 commented on #2
一点浅见，用前端成熟的框架，参与进来的人会更多，比你一个人开发效率更快。就现在你上线的那个界面，我用react+python（接口）不要8小时。包括服务器部署，顶级域名上线。
在这种时候，不要炫耀技术，选择最大众的技术就是最好的选择。

[2020-01-29 06:14] TechQuery commented on #7
后端接口本不应我们前端管，而是 https://github.com/wuhan2020/api-server 开发者的职责

[2020-01-29 06:18] TechQuery commented on #19
因为本 Web 应用还没专门做宣传，没想到大家开发、使用有这么大的热情，刚把开发、生产容器拆开
https://github.com/wuhan2020/rest-api#%E6%B5%8B%E8%AF%95%E6%95%B0%E6%8D%AE

[2020-01-29 06:21] TechQuery commented on #21
@bboychencan @JGX020 能截图吗？

据我所知，微信对不常用顶级域会多加一个“安全提示”的先导页，但点“继续访问”即可进入，并不会完全不能用

[2020-01-29 06:23] TechQuery commented on #24
欢迎给 404 页面提 PR

[2020-01-29 08:40] XuQuan-nikkkki commented on #24
/self-assign

[2020-01-29 08:49] dianmaomao opened #26 "对于首页面的一些建议"
能否在主页面添加疫情的实时动态数据，再加上现有的路由跳转图标

[2020-01-29 08:52] TechQuery commented on #26
请去 #13 讨论

[2020-01-29 08:52] #26 closed

[2020-01-29 09:31] juhaodong commented on #23
/self-assign

[2020-01-29 09:33] TechQuery commented on #28
我们的 PWA 一直支持全国的数据录入 https://wuhan2020.github.io/#hospital/edit

![image](https://user-images.githubusercontent.com/19969570/73344485-680a9e80-42bd-11ea-8d8d-b57c67022ee7.png)

[2020-01-29 09:45] #24 closed

[2020-01-29 10:41] lonewolfdesign commented on #20
So, on the website the only pages that **used** to work were; home, logistics and hospitals although now other pages work.
I was not sure if it was a bug or it was still a work in progress.

[2020-01-29 11:08] kedadiannao220 commented on #28
已进入，此issues关闭

[2020-01-29 11:48] TechQuery commented on #20
@lonewolfdesign WIP

[2020-01-29 12:58] JinXJinX opened #99 "Failed to register a ServiceWorker for scope. ServiceWorker script evaluation failed"
访问或刷新 https://wuhan2020.github.io 页面以及子页面。会收到这条alert提醒

<img width="454" alt="Screen Shot 2020-01-29 at 7 44 32 AM" src="https://user-images.githubusercontent.com/12160296/73358592-facf1d00-426c-11ea-8ffe-39b14618c698.png">

[2020-01-29 13:00] lksj1029 commented on #99
已经恢复了，我刚访问正常

[2020-01-29 13:55] KevinLJJ commented on #99
目前访问不正常。
MacOS Catalina / Google Chrome 版本 79.0.3945.130（正式版本）

[2020-01-29 14:47] Rain1122 commented on #20
I think this project is still in progress now.

[2020-01-29 14:51] CharlieGai opened #31 "NetworkError: Failed to load script"
点击每个链接时弹出NetworkError: Failed to load script

[2020-01-29 14:59] YagiGo commented on #20
These pages are still under development. Fixes have been made so that if you click these links, it will say that it is under development instead of doing nothing.

[2020-01-29 15:07] TechQuery commented on #31
请提供 报错时的**控制台截图**、操作系统/浏览器/Node.js 版本号

[2020-01-29 15:52] TechQuery commented on #20
fixed in #29

[2020-01-29 16:48] qinqiangdavid commented on #99
目前访问不正常。
iPhone X/iOS13.3/Chrome 79.0.3945.73

[2020-01-29 18:05] TechQuery commented on #21
已切换到国内备案域名 https://wuhan2020.kaiyuanshe.cn/

[2020-01-29 18:05] #21 closed

[2020-01-29 18:07] TechQuery commented on #19
已通过捐助解决 https://github.com/wuhan2020/rest-api#%E7%89%B9%E5%88%AB%E6%84%9F%E8%B0%A2

[2020-01-29 18:07] #19 closed

[2020-01-29 18:10] TechQuery commented on #2
@dhcn 已切换到国内备案域名 https://wuhan2020.kaiyuanshe.cn/

[2020-01-30 01:14] sarahwang93 commented on #13
I could join to help. Do you need support? I have background on web application

[2020-01-30 04:30] lzfxp commented on #13
我在本地搭了个环境，但是因为做得比较晚，只有28、29、30三天的json数据，数据来源是腾讯新闻，目前网上的曲线图只有全国的，地市的数据有，但是没有图，另外，腾讯的数据中，只有各地市确认、死亡、治愈的数据，疑似的数据没有。如果有疑似的数据，可以做一些预测。

[2020-01-30 05:17] bob798 commented on #13
百度实时数据中有地市的数据，链接：https://voice.baidu.com/act/newpneumonia/newpneumonia#tab1。

[2020-01-30 07:30] michaelHe666 commented on #8
/self-assign

[2020-01-30 07:35] michaelHe666 commented on #9
/self-assign

[2020-01-30 07:41] michaelHe666 commented on #8
联系人的名字和电话怎么放一起，接口写成一个吗？
这个连第一范式都不符合呀。
鉴于当前提供的字段我只能联系人信息格式为：“张三（1666666666）“这样的字符串OK吗？
@TechQuery

[2020-01-30 07:58] Akagilnc commented on #2
拿事实说话好评。毕竟与其嘴上说。不如把东西实现出来看效率更有说服力

[2020-01-30 08:12] michaelHe666 commented on #10
@TechQuery 义诊列表页已经完成，请问一下怎么Git上来...，没账号啊

[2020-01-30 08:19] TechQuery commented on #8
@michaelHe666 @daituzhang https://github.com/wuhan2020/rest-api/issues/3#issuecomment-580135655

[2020-01-30 08:26] TechQuery commented on #10
@michaelHe666 那你得先 Google 一下 GitHub 协作流程

[2020-01-30 14:46] #7 closed

[2020-01-30 16:37] lovepoem opened #40 "【bug】义诊页面展示数据错误"
**页面url** ： https://wuhan2020.kaiyuanshe.cn/#clinic
**问题 ：**     义诊页面展示数据错误，似乎展示的是物流信息

![image](https://user-images.githubusercontent.com/827112/73469722-cc168b00-43c1-11ea-84f7-91f6e2f87e77.png)

[2020-01-30 16:38] lovepoem commented on #31
目前似乎已经没有了

[2020-01-30 16:42] lovepoem commented on #2
建议用通用的技术，大家能快速上手，减少学习的时间。

[2020-01-30 18:51] TechQuery commented on #10
@michaelHe666 接口好了，你再开个 pull request 吧

- 数据模型：https://github.com/wuhan2020/rest-api/blob/master/source/model/Clinic.ts

[2020-01-30 18:55] TechQuery commented on #9
@holidaying @michaelHe666 你们到底谁做？

[2020-01-31 05:03] #31 closed

[2020-01-31 05:48] TechQuery commented on #2
@lovepoem 若你长期关注本项目的 GitHub 和 Slack 的话，你会知道最大的瓶颈是[主库的数据结构][1]一直达不到**产品级要求**，无奈我只能开发[独立后端][2]，而**真正参与前端开发的小伙伴们上手都很快**，[开发进度][3]一直被后端接口卡着……

我一直坚信 Linux 作者 Linus Torvalds 的名言 ——

[1]: https://github.com/wuhan2020/wuhan2020/tree/master/data/json
[2]: https://github.com/wuhan2020/rest-api
[3]: https://github.com/orgs/wuhan2020/projects/1?fullscreen=true

[2020-01-31 06:20] holidaying commented on #9
基本页面和model接口写好了。merge进来就能用。其余的@michaelHe666来做

[2020-01-31 06:39] TechQuery commented on #9
@holidaying 接口由 @michaelHe666 来接到页面上？

[2020-01-31 07:00] #12 closed

[2020-01-31 12:38] lovepoem opened #2 "列出项目列表"
建议将本项目的项目管理报表定期定期发布在此repo
1、有一个统一的项目管理看板入口
2、便于团队成员了解项目全貌

[2020-02-01 00:28] holidaying commented on #9
一直merge不进来？

[2020-02-01 00:30] holidaying commented on #9
![image](https://user-images.githubusercontent.com/12896717/73583422-0de02800-44cd-11ea-91f6-39cbed6ce66d.png)

[2020-02-01 00:58] will-ww opened #100 "Add a section to give thanks to all of the Sponsors"
1、Slackbot  8:16 AM
Your workspace is getting a free trial of Slack's Standard Plan through February 29th!:tada: On the Standard plan, your team can now see all your past messages and files, add guests to your workspace, make group calls, and more.

2、Shimo
Free enterprise edition for wuhan2020 team

3、……

**So, we need to add a section to give thanks to all of the Sponsors, e.g. shimo, slack, …**

[2020-02-01 01:37] vitrum opened #46 "[Bug] 医院需求项目数字为1时，应显示为不限数量"
因为之前有些信息提交上去，当时未确认需要多少，数量全为1

调整为：数字为1时，显示数量不限

[2020-02-01 01:37] vitrum commented on #46
/self-assign

[2020-02-01 02:09] lovepoem commented on #46
这个其实是因为有些发布者并不是医院器械科的发布者，是志愿者自己填写的1，因为志愿者不知道医院的真实需求数据，所以你这样处理也并不是很合理。

建议录入建业加上 “数量和医院确认” 选项

[2020-02-01 02:16] vitrum commented on #46
那前期的数据需要调整么？如果还是保持展示数字为1，会有点怪

[2020-02-01 02:47] lovepoem commented on #46
我所知道的1都是志愿者自己填写的，前期导入的数据我猜测数量是 null

[2020-02-01 02:49] jalog opened #50 "列表页移动端适配"
iOS Safari/Chrome 物流页面显示适应性较差，建议统一风格，使用医院、酒店类似的展示方式。

[2020-02-01 02:57] lovepoem commented on #100
Maybe we  can add the information  here ： https://wuhan2020.github.io/

[2020-02-01 03:35] TechQuery commented on #46
@Akagilnc 在整理常用物资基础数据时就和我提过，如果对口罩、防护服这些量大的 `1` 作**虚数**处理，那医疗设备的 `1` 这类**实数**怎么办？我可不想代码里一堆**处理特例**的 `if ... else`，要让石墨那边从源头把**数据规范**做好

[2020-02-01 03:36] TechQuery commented on #50
欢迎 PR

[2020-02-01 04:50] aefgijn opened #4 "图片，无法显示"
建议图片放在图床上 ，例如：腾讯云等

[2020-02-01 04:54] lovepoem commented on #4
目前github上的图片，国内确实显示有一点问题

[2020-02-01 04:55] lovepoem commented on #4
你可以pr 一下么？ @aefgijn

[2020-02-01 06:17] allenfantasy commented on #50
我来尝试认领这个吧。

[2020-02-01 06:54] lovepoem opened #5 "【提案】合并wuhan2020/wuhan2020的README"
1、合并https://github.com/wuhan2020/wuhan2020 的README 文档
2、整理资源列表和 沟通频道列表
3、整理各个工种基本的加入生产的流程

[2020-02-01 10:58] ch-shumin opened #79 "[媒体文章搬到社区网站] 文案1：致 wuhan2020 开源社区全体成员的一封信"
https://mp.weixin.qq.com/s/jFBpUFnSwop4PCGd_5lcWA

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-01 11:04] kcxh opened #8 "如何加入Slack小组？"

[2020-02-01 11:38] #9 closed

[2020-02-01 11:46] #50 closed

[2020-02-01 12:22] allenfantasy commented on #13
关于疫情趋势图的部分，已知 [丁香园](https://ncov.dxy.cn/ncovh5/view/pneumonia)，[腾讯](https://news.qq.com/zt2020/page/feiyan.htm)，[百度](https://voice.baidu.com/act/newpneumonia/newpneumonia) 都已经有了。快速的方法是在站点上引入一个超链接跳到以上的任意一个。

当然如果 https://github.com/wuhan2020/map-viz 那里有产出能 somehow 贴到站点上就最好了，但这个要看具体怎么操作。 @TechQuery 觉得呢？如果有需要的话我可以帮忙。

[2020-02-01 12:56] allenfantasy commented on #13
刚才和 map team 的人碰了下，应该最快今晚能把组件准备好给网站 import。如果么有别人抢的话我来吧。 @TechQuery

[2020-02-01 13:17] TechQuery commented on #13
@allenfantasy 这么多天没人提，估计没人和你抢，直接 PR，我随时准备合并

[2020-02-01 15:06] mylesieong opened #78 "[bug]: “医院急需物资" 頁, 选个別省后再选全部, 視图沒有更新"
Reproduce steps:
1. go to  https://wuhan2020.kaiyuanshe.cn/#hospital
1. choose province (say 湖北省)
    - expect result: show provincial info only
1. choose all province
    - expect result: show all info
    **- actual result: page not being refreshed. still show provincial info only**

[2020-02-01 16:19] TechQuery commented on #53
LeanCloud 支持国际短信，输手机号时加**国际地区码**前缀即可

[2020-02-01 18:07] sarahwang93 commented on #13
这issue是我开的，有人写吗？没人我上了

On Sat, Feb 1, 2020 at 8:18 AM 南漂一卒 <notifications@github.com> wrote:

[2020-02-01 20:00] GindaChen commented on #8
https://join.slack.com/t/wuhan2020/shared_invite/enQtOTI2NTU1NzU3MTM2LWQ1YjIzMDllYjYzYTE1OTNhMWU4OTZkOGYzOGJhOWM2MzdlMjgwMmZiOWEzYTQwNmJkZDI4OWRmM2Q2ZDM1MTc

[2020-02-01 20:01] GindaChen commented on #8
希望你已经加入了Slack～如果链接失效的话可以@我

[2020-02-01 23:12] GindaChen opened #16 "QRCode invalid in the following page"
The QRCode is missing in page https://wuhan2020.github.io/en-us/docs/dev/information-guide.html

[2020-02-01 23:14] GindaChen opened #17 "Add basic content to the website"
**Goal**: our use does not lost in this maze of information. I will just add some (existing) content to the overview of the website.

- [ ] Official Announcement
  - [x] Chinese
  - [ ] English
  - [ ] Japnaese
  - [ ] Italian
- [ ] Guide for general public
  - [x] Chinese
  - [ ] English
  - [ ] Japnaese
  - [ ] Italian

If there are other basic contents that are needed in **this moment**, add to

[2020-02-01 23:14] GindaChen commented on #17
- [x] English: Fix in #15
- [x] Japanese: Fix in #19

[2020-02-01 23:49] GindaChen opened #18 "The Get Started link is incorrect (EN, JP, IT)"
The `Get Started` link should not go to
[code]
but should go to
[code]

The Chinese version is correct, but English, Japanese and Italian link is incorrect.

@lovepoem

[2020-02-02 01:00] GindaChen commented on #8
@mingao139 Does that solves the problem for you?

[2020-02-02 01:11] jalog opened #54 "[Bug]医院页面筛选，选择省-市/区后，再选择省为“全部”时，数据不刷新"
AMap.ts:42 Uncaught (in promise) TypeError: Cannot read property 'districts' of undefined
    at AMap.ts:42
    at AMap.ts:45
    at Object.next (AMap.ts:45)
    at c (AMap.ts:45)

[2020-02-02 02:30] allenfantasy commented on #13
@sarahwang93 目前在等 [map-viz](https://github.com/wuhan2020/map-viz) 那边整理好可视化组件之后，再集成到网站上。

[2020-02-02 02:32] allenfantasy opened #56 "临时增加疫情地图的外部链接（或嵌入外部疫情地图）"
目前可选项有：

* [丁香园](https://ncov.dxy.cn/ncovh5/view/pneumonia)
* [腾讯](https://news.qq.com/zt2020/page/feiyan.htm)
* [百度](https://voice.baidu.com/act/newpneumonia/newpneumonia)

[2020-02-02 02:33] allenfantasy commented on #13
或者先 [临时增加疑疫情地图的外部链接](https://github.com/wuhan2020/WebApp/issues/56)

[2020-02-02 02:35] sarahwang93 commented on #13
他们那边可视化组件用的啥？

On Sat, Feb 1, 2020 at 9:30 PM Zeqiu Wu <notifications@github.com> wrote:

[2020-02-02 02:40] sarahwang93 commented on #13
我研究一下 看能不能画个架构图出来。各位觉得同意吗？

On Sat, Feb 1, 2020 at 9:33 PM Zeqiu Wu <notifications@github.com> wrote:

[2020-02-02 02:41] DoubleNou commented on #13
我是写后端的，这个需要数据过滤吗

[2020-02-02 02:47] allenfantasy commented on #13
@sarahwang93 应该是基于 ECharts 的。由于目前这个项目用的是 [WebCell](https://web-cell.dev/) 所以他们应该还要封装一个 webCell 的组件。或者你先 [加 Slack 进来](https://join.slack.com/t/wuhan2020/shared_invite/enQtOTI2NTU1NzU3MTM2LWQ1YjIzMDllYjYzYTE1OTNhMWU4OTZkOGYzOGJhOWM2MzdlMjgwMmZiOWEzYTQwNmJkZDI4OWRmM2Q2ZDM1MTc)？这样就不用在 issue 里聊天 XD

@DoubleNou 需要。数据清洗和标准化的工作应该是在 https://github.com/wuhan2020/data-sync，也先加 Slack 讨论吧~

[2020-02-02 02:48] sarahwang93 commented on #13
艾玛 太好了。 哪个channel?拖我进去

On Sat, Feb 1, 2020 at 9:47 PM Zeqiu Wu <notifications@github.com> wrote:

[2020-02-02 02:49] sarahwang93 commented on #13
x需要。拖我进slack, 哪个讨论组？

On Sat, Feb 1, 2020 at 9:41 PM DoubleNou <notifications@github.com> wrote:

[2020-02-02 02:54] allenfantasy commented on #13
@sarahwang93 点刚才我给你那个链接先进来。频道传送门：https://github.com/wuhan2020/wuhan2020#slack%E9%A2%91%E9%81%93%E5%AF%BC%E8%88%AA 先找前端组进来。

[2020-02-02 03:02] GindaChen opened #20 "[low priority] Bug in English page"
![image](https://user-images.githubusercontent.com/32371474/73602232-0ef96f80-4536-11ea-9274-859dbe0b1bd6.png)

Duplicates tabs occur.

[2020-02-02 03:07] GindaChen commented on #17
/self-assign

[2020-02-02 03:29] #17 closed, assigned to nobody

[2020-02-02 04:35] damingerdai opened #57 "[bug] 当无生产商家时，生产页面应该直接显示无数据"
## 描述
打开生产页面时，由于目前尚未没有生产厂商，应该显示为无生产厂商。

[2020-02-02 04:37] jalog commented on #46
可以用 -1 表示 “数量待和医院确认” ，-9 表示“不限量”，用负数表示特殊类型数据，出一个字典表

[2020-02-02 04:39] lovepoem commented on #8
需要在https://wuhan2020.github.io/zh-cn/community/index.html 页面将所有的Slack chanel 列出来

[2020-02-02 04:41] GindaChen opened #22 "需要在社区页将所有的Slack chanel 列出来"
需要在https://wuhan2020.github.io/zh-cn/community/index.html 页面将所有的Slack chanel 列出来

_Originally posted by @lovepoem in https://github.com/wuhan2020/wuhan2020.github.io/issues/8#issuecomment-581097655_

[2020-02-02 04:42] damingerdai commented on #57
/self-assign

[2020-02-02 04:46] #16 closed, assigned to nobody

[2020-02-02 05:07] #18 closed, assigned to nobody

[2020-02-02 05:12] jalog opened #58 "[Bug]反复切换menu项目时，页面数据加载失败"
例如：在“物流”、“酒店”两个菜单项来回切换时，页面数据一直显示正在加载，加载失败。

[2020-02-02 05:18] TechQuery commented on #58
看一下控制台的代码、网络报错

[2020-02-02 05:20] TechQuery commented on #46
@jalog 石墨文档数据源 那边恐怕不会这么干

[2020-02-02 05:24] jalog commented on #58
暂时没发现错误原因 感觉很奇怪

[2020-02-02 05:25] jalog commented on #58
暂时没发现错误原因，刷新浏览器页面时可以加载数据，但是反复切换菜单项时加载失败

[2020-02-02 05:26] BranceLee commented on #2
帮大佬做了一个二维码。
方便在朋友圈之间识别二维码传播信息和地址，希望有所帮助。
项目里底部发一个分享二维码或者网址的功能可能更方便传播吧，个人建议。

![武汉2020](https://user-images.githubusercontent.com/37168881/73603559-1d3f9e00-45bf-11ea-80f8-70e372ed5fcb.png)

![Wuhan2020](https://user-images.githubusercontent.com/37168881/73603547-d5207b80-45be-11ea-9e35-8044c197929e.png)

想用 React 帮帮忙的，先看看代码。
作者辛苦了！

[2020-02-02 05:58] jalog commented on #58
反复切换菜单项时，页面显示Loading图标，将页面拖动到底端，数据才展示出来。

[2020-02-02 06:10] jalog commented on #58
render(_, { loading, noMore }: HotelPageState)
刷新页面时调用情况：
[code]

切换到其他菜单项再切换回酒店菜单时的调用情况：
[code]

[2020-02-02 06:23] tenCats opened #28 "bug: 信息收集指南 里的微信 QR code 图片无法显示"
![image](https://user-images.githubusercontent.com/6828552/73604195-917e3f80-45c7-11ea-908c-2e91e87ab635.png)

[2020-02-02 07:09] chenrui333 commented on #28
/self-assign

[2020-02-02 07:10] chenrui333 commented on #28
我来看看

[2020-02-02 07:18] tenCats commented on #28
@chenrui333  Iol I'm fixing this!

[2020-02-02 07:19] tenCats commented on #28
这个repo似乎没有bot

[2020-02-02 07:26] #28 closed, assigned to nobody

[2020-02-02 07:39] chenrui333 commented on #20
It got fixed in #27, closing the issue now.

![image](https://user-images.githubusercontent.com/1580956/73604863-3d427380-4565-11ea-96b8-3e07023b005d.png)

[2020-02-02 07:39] #20 closed, assigned to nobody

[2020-02-02 07:45] jalog commented on #58
已修复，应修改state的初始值如下：
`state = { loading: false, noMore: false };`

[2020-02-02 07:59] chenrui333 commented on #4
图片问题应该在最近几个 PR 里面解决了。

relates to #33 #29

Closing the issue now, feel free to open a new one if needed.

[2020-02-02 07:59] #4 closed, assigned to nobody

[2020-02-02 08:21] allenfantasy commented on #10
新的模块需求传送门：义诊服务模块需求

[2020-02-02 08:21] jalog commented on #58
/self-assign

[2020-02-02 08:22] jalog commented on #54
/self-assign

[2020-02-02 08:28] allenfantasy commented on #13
map team 的 webCell 版本的组件已经 ready：https://github.com/wuhan2020/map-viz/ 💯

准备接入

[2020-02-02 08:56] allenfantasy commented on #46
@TechQuery 那这个问题一直 block 着也不是个办法。

解决的方法要不就是 rest-api 在接口返回时做处理，要不然就是 data-sync 的时候做清洗，然后按约定出虚数值？但这样的话是需要推动谁去做呢？

这个问题在 Slack 上也有录入数据的志愿者反馈了。

[2020-02-02 09:00] XiaohanYa commented on #46
石墨这边在录入规范里面让志愿者写的1，调整起来工作量太大。建议口罩、防护服等明显需求量大于1件的物品，都按没有特定需求量处理。

[2020-02-02 09:19] bifenglin commented on #56
/self-assign

[2020-02-02 09:41] rquanx commented on #46
@TechQuery 我跟录入组的人说了，让他们的组长找你快速定个方案，不能一直拖着

[2020-02-02 11:58] lovepoem commented on #5
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/10

[2020-02-02 11:58] #5 closed, assigned to nobody

[2020-02-02 12:19] lovepoem commented on #22
需要将  https://wuhan2020.github.io/zh-cn/blog/wuhan2020-official-announcement.html、
列出的Slack Channel 都列在https://wuhan2020.github.io/zh-cn/community/index.html

[2020-02-02 12:22] lovepoem commented on #2
需求整理：

目前 已经有项目列表 https://github.com/orgs/wuhan2020/projects

我们需要在文档-贡献者文档中 加一个页面（项目管理）：
1、列出所有的项目
2、写出项目描述和url 等

文件路径： docs/zh-cn/dev/project-management.md

[2020-02-02 13:00] lovepoem opened #37 "添加总体组织架构图和基本流程"
**页面设计：**
![image](https://user-images.githubusercontent.com/827112/73608491-8a265880-45fe-11ea-9f2e-1ab10b5ec640.png)

**文本内容 ：**

感谢您的支持，请按以下步骤完成初步志愿者分流

**流程 备注**

1、修订 群名片

格式【意向组+昵称/姓名】

如您不知道自己适合哪个组别，请翻下

一页

2、填写问卷

https://shimo.im/forms/PWTTvkrdcCyXCGX6/fill

请尽量完成问卷信息，如您需要保密个

人隐私，可不填写真实姓名

3、扫码加入志愿加入的对应组别，并退出本群

（除了协调组的志愿者）

请根据您所填写的志愿组，扫描对应组

别的二维码加入，协调组请联系陈奕竹

审核（建议不要同时加入超过2个志愿

组，防止工

[2020-02-02 13:24] damingerdai commented on #22
/self-assign

[2020-02-02 13:28] swmiao commented on #2
/self-assign

[2020-02-02 13:35] damingerdai commented on #22
提供设计稿吗？

[2020-02-02 13:42] TechQuery commented on #58
忘了谁改了初试状态

[2020-02-02 13:47] chenrui333 commented on #8
Fixed in this PR, https://github.com/wuhan2020/wuhan2020.github.io/pull/34

[2020-02-02 13:47] #8 closed, assigned to nobody

[2020-02-02 13:54] aefgijn opened #61 "信息组医院表 增加字段 有无问题"
信息组医院表  增加捐赠字段 有无问题，若有需要注意什么？

[2020-02-02 13:55] #56 closed

[2020-02-02 14:02] rquanx opened #62 "[Bug]导航右键打开链接时路由错误"
![image](https://user-images.githubusercontent.com/36622981/73609352-b72b3900-4607-11ea-9b1a-85fcb386eb67.png)

[2020-02-02 14:04] TechQuery commented on #61
“医院加捐赠”到底是个什么？能否详细描述？

[2020-02-02 14:07] aefgijn commented on #61
部分医院除了需要物资，还附加有捐赠信息（开户账号），但捐赠信息的录入又是另一张表，  这样的话就得二次录入了  工作量大

[2020-02-02 14:09] TechQuery commented on #62
https://web-cell.dev/cell-router/ 沿用了 `<a href="" />`，再在 `new History()` 时确定**路由模式**，所以目前不能兼容这种操作

[2020-02-02 14:11] TechQuery commented on #61
国家允许医院直接**接受捐款**了？

[2020-02-02 14:13] aefgijn commented on #61
部分医院募捐信息里有

[2020-02-02 14:32] damingerdai opened #39 "feat: 把主题色蓝色（#1890ff ）改成#ff6440"
### 需求：统一产品风格：
把主题色蓝色（#1890ff ）改成#ff6440

### 来源
[wuhan2020/issues/292](https://github.com/wuhan2020/wuhan2020/issues/292)

### 说明
实际的主题颜色应该是： #0054D1

[2020-02-02 14:58] #54 closed

[2020-02-02 14:58] #58 closed

[2020-02-02 15:13] Marla62 opened #64 "并不是所有前端都要在本地启动server，readme说明文件是否可加上此说明"
![image](https://user-images.githubusercontent.com/34474822/73610345-117cc780-4611-11ea-8be6-95c9d62acc60.png)
如图：是否可以直接加上此文字说明。
Mac在启动后端服务时，会报错无法启动。看了后台服务的issues，对应的工单已经被关闭。
https://github.com/wuhan2020/rest-api/issues/1

[2020-02-02 15:34] allenfantasy commented on #64
确实是这样。 @Marla62 方便帮忙随手给个 PR 么？（我手头有另一个 issue 在爬 XD）

[2020-02-02 17:17] allenfantasy commented on #13
初步是能接入的。但要同时兼容 PC 和移动端，样式还要调一下。
目前没有设计稿支持，但 map team 的人交互已经做的很好了（也用心调了配色），所以会直接搬运。

预计最迟明晚可以发一个 PR

[2020-02-02 17:52] allenfantasy commented on #64
/self-assign

[2020-02-02 18:02] GindaChen commented on #22
如果暂时没有涉及的话 直接参考https://wuhan2020.github.io/zh-cn/docs/dev/quickstart.html 里面的Slack表格然后看看docsite render成什么样吧？

[2020-02-03 00:53] chenrui333 opened #43 "Review the translations for it-it and ja-jp setup"
For the time being, I have used Google Translate to translate the key pages. These translations need to be reviewed and re-translate if needed.

https://github.com/wuhan2020/wuhan2020.github.io/pull/41
https://github.com/wuhan2020/wuhan2020.github.io/pull/42
https://github.com/wuhan2020/wuhan2020.github.io/pull/27

[2020-02-03 01:04] iLtc commented on #39
请问这个 issue 只需要修改主题颜色吗？原始 issue 中的修改 logo 和添加插画需要完成吗？

[2020-02-03 01:05] damingerdai commented on #39
个人认为是需要的，但是我联系不到设计师

[2020-02-03 01:07] iLtc commented on #39
那我也试着去联系一下 kate Jia

[2020-02-03 01:34] GindaChen commented on #43
Will soon coordinate the translation group to resolve this.

[2020-02-03 01:38] GindaChen opened #44 "[Disucssion] Page content enhancement"
[Drafting...]

1. 应该在主页/显眼的地方加一个link到官方通稿。当前是一定要点到`博客`才能看到官方通稿
      1. 解决1: 在主页和什么是WHU2020更改一下能access到这个blog
      2. 解决2: 另外开一个tab做官方通稿
      3. 解决3: 直接放到主页的下方

2. Polish公告措辞：
   1. 项目**入口**：门户入口，GitHub入口，App入口--到底是哪个入口？
   2. （中文）公告的措辞可能可以让翻译组的朋友们也polish一下

3. 加一个About Us在首页

@Atena1118  @lovepoem @chenrui333 Any suggestions / insight will be appreciated.

[2020-02-03 01:39] GindaChen commented on #44
/self-assign

[2020-02-03 02:01] #64 closed

[2020-02-03 02:16] iLtc commented on #39
我拿到插画了，还在等设计师的logo

[2020-02-03 02:33] lovepoem commented on #39
可以小步快跑，拆分pr，只修改一部分就pr 一部分

[2020-02-03 02:41] chenrui333 commented on #44
加一个 banner？

[2020-02-03 03:14] damingerdai commented on #39
我在上班，@iLtc，你先做吧

[2020-02-03 03:37] damingerdai commented on #22
如果[quickstart](https://wuhan2020.github.io/zh-cn/docs/dev/quickstart.html)页面已经有了列表，为什么不直接跳转过去呢？

[2020-02-03 03:39] #39 closed, assigned to nobody

[2020-02-03 03:40] GindaChen commented on #22
好问题 @lovepoem 你怎么看？我觉得初衷是希望放在首页方便链接/查看，不过直接跳转也可行。
如果 @damingerdai  觉得阅读的顺序不大会受太大影响的话跳转也OK

[2020-02-03 03:45] iLtc commented on #39
这个 issue 还差几个部分：

1. 首页左上角的 logo 需要替换，在等设计师的图片
2. 二级页面顶部的主题色也需要修改，但由于是渐变色，在等待设计师确认具体色号

[2020-02-03 03:46] lovepoem opened #48 "[bug]首页颜色的交互有问题：拉到最下面后，应该是实现白色"
参考：https://wuhan2020.github.io/zh-cn/docs/overview/what-is-wuhan2020.html

![image](https://user-images.githubusercontent.com/827112/73624131-98b25580-467a-11ea-9c02-fed4b5b7a6ad.png)

首页颜色的交互有问题：拉到最下面后，应该是实现白色
现在都是橘红色

[2020-02-03 03:47] lovepoem commented on #48
@iLtc  请看一下

[2020-02-03 03:50] lovepoem commented on #48
![image](https://user-images.githubusercontent.com/827112/73624302-4de50d80-467b-11ea-8d91-d67fa9289cf4.png)

[2020-02-03 03:53] iLtc commented on #48
![image](https://user-images.githubusercontent.com/4352234/73624425-adf19a80-460e-11ea-9026-a74d6d3292a1.png)

我这边无法复现这个问题哎，刷新一下还是这样吗？

[2020-02-03 03:56] lovepoem commented on #48
嗯 是我这网速问题，没有这个问题。

麻烦你也把后面几个频道的头部颜色给修改成统一的

[2020-02-03 03:56] #48 closed, assigned to nobody

[2020-02-03 03:58] iLtc commented on #48
后面几个频道的头部颜色是渐变色，我还在等设计师确认渐变色的具体数值

如果急的话我可以先改成纯色的

[2020-02-03 04:13] lovepoem commented on #48
请向我邮箱发一封邮件，联系上我

[2020-02-03 04:59] lovepoem commented on #22
我的意思是社区页应该作为，沟通方式展示的第一列表，不用再跳转了。因为现在channel list也存在好几个地方，而且都不全

[2020-02-03 06:07] #57 closed

[2020-02-03 07:15] luxiaoli2002 commented on #68
有没有项目沟通平台

[2020-02-03 07:39] bifenglin commented on #68
目前应该是在https://app.slack.com/client/TT5U1VCPQ/CT93L48H5上交流沟通，也可以通过issue进行沟通

[2020-02-03 08:08] TechQuery commented on #10
39d3dd0

[2020-02-03 08:08] #10 closed

[2020-02-03 08:16] TechQuery commented on #68
@bifenglin 你可提个 PR 在 ReadMe 上加个 badge

[2020-02-03 08:22] TechQuery commented on #69
这只是**应用首次启动**时尝试**拉取当前用户信息**，HTTP `401` 就是在表示“尚未登录”，是符合 **RESTful API** 的设计，并不是 bug

[2020-02-03 11:19] #22 closed, assigned to nobody

[2020-02-03 11:23] lovepoem commented on #44
我们官方首页被我删除了一些，看同模板的 http://dubbo.apache.org/zh-cn/

[2020-02-03 11:46] kevenleone opened #52 "[doc] Creation of Brazilian translation"
Hello,

I've seen on the news many Brazilians living on Wuhan, and I know many others in whole China.
Could I add a translation in Portuguese - Brazil ?

I think this can benefit all the population that speak Portuguese.

[2020-02-03 11:47] #62 closed

[2020-02-03 11:51] TechQuery commented on #40
39d3dd0

[2020-02-03 11:51] #40 closed

[2020-02-03 12:02] kevenleone commented on #52
/self-assign

[2020-02-03 15:47] damingerdai opened #53 "feat: 语言下拉框列表应该是用语言名，而不是语言代码"
## 概述
语言下拉框列表应该是用语言名，而不是语言代码

## 说明
zh-cn改成简体中文
en-us改成English
ja-jp改成日本語
it-it改成Italiano

[2020-02-03 15:47] damingerdai commented on #53
/self-assign

[2020-02-03 17:49] chenrui333 commented on #52
Yeah, of course, can you join the #team-translation channel on Slack?

[2020-02-03 17:49] chenrui333 commented on #52
Slack invite, https://join.slack.com/t/wuhan2020/shared_invite/enQtOTI2NTU1NzU3MTM2LWQ1YjIzMDllYjYzYTE1OTNhMWU4OTZkOGYzOGJhOWM2MzdlMjgwMmZiOWEzYTQwNmJkZDI4OWRmM2Q2ZDM1MTc

[2020-02-03 18:57] kevenleone commented on #52
Of course, I'll join soon, thanks !!!

[2020-02-03 20:05] chenrui333 commented on #52
Thanks!

[2020-02-03 21:55] #53 closed, assigned to nobody

[2020-02-03 22:20] lovepoem commented on #44
@purple-force 你有啥好的建议吗？

[2020-02-04 02:22] allenfantasy commented on #13
latest branch: https://github.com/allenfantasy/WebApp/tree/issue13-virusMap

[2020-02-04 02:53] TechQuery commented on #61
我想了下，两边都存**捐款信息**就得两边都写相应的处理逻辑，后期汇总处理更麻烦，需要捐款的还是单独去捐款页面录入

[2020-02-04 02:53] #61 closed

[2020-02-04 05:40] bifenglin commented on #68
@TechQuery 已提交。

[2020-02-04 07:23] maobaolong commented on #13
这个issue强调的是，每个城市或者区的疫情趋势图。不是全国的趋势图

[2020-02-04 10:38] allenfantasy commented on #13
@maobaolong 那这个的难点就主要是在数据上了。

btw, try do sth if u could help

[2020-02-04 14:40] iLtc opened #66 "窄屏页面上菜单图标没有对齐"
![image](https://user-images.githubusercontent.com/4352234/73754393-58aea980-4732-11ea-961f-95f12df986bf.png)

[2020-02-04 14:41] iLtc commented on #66
/self-assign

[2020-02-04 15:50] GindaChen opened #68 "[doc] Add Italian Translation"
This is the epic issues for adding Italian Translation. If you're a contributor, it would be great if you can open an issue for each of the sub tasks mentioned here.

@sciulli It would be awesome if you can help coordinate the translation of these documentations to Italian:

- [x] (Resolved in #73 ) [Index](https://community.wuhan2020.org.cn/it-it/index.html) - The index of all
- [x] [What is Wuha

[2020-02-04 16:12] GindaChen commented on #68
The index for italian is accessible here:
https://github.com/wuhan2020/wuhan2020.github.io/blob/b1755f5e703824620a154a61ab14af710ec60a37/site_config/home.js#L40-L77

Find the 'it-it' and edit the doc directly

[2020-02-04 16:47] #66 closed, assigned to nobody

[2020-02-04 17:48] chenrui333 commented on #43
it-it review ticket, https://github.com/wuhan2020/wuhan2020.github.io/issues/68

[2020-02-04 17:54] #13 closed

[2020-02-04 19:24] GindaChen opened #69 "[doc] Add French Translation"
This is the epic issues for adding French Translation. If you're a contributor, it would be great if you can open an issue for each of the sub tasks mentioned here.

To be translated (in priority)

Finished
- [x] `docs/fr-fr/dev/mailing-list-guide.md`: Wei XIE
- [x] `docs/fr-fr/dev/information-guide.md`: Contributing @bengbeng233
- [x] `docs/fr-fr/overview`:
- [x] `docs/fr-fr/dev/dev-env-setup.md`

[2020-02-04 23:02] GindaChen opened #74 "[doc] Revise Japanese Translation"
This is the epic issues for adding Italian Translation. If you're a contributor, it would be great if you can open an issue for each of the sub tasks mentioned here.

@RRFHOUDEN It would be awesome if you can help _coordinate_ the translation of these documentations to Japanese. Feel free to distribute the tasks to other people in Slack with Japanese specialty, but call out the work below in comme

[2020-02-04 23:02] GindaChen commented on #43
ja-jp review ticket, #74

[2020-02-05 01:03] RRFHOUDEN commented on #74
I will review "Index" latter.

[2020-02-05 01:22] #37 closed, assigned to nobody

[2020-02-05 01:29] chenrui333 commented on #74
I added the `help wanted` tag to draw more attentions on the issue triage.

[2020-02-05 01:32] chenrui333 commented on #79
Move the issue here as it is more appropriate.

[2020-02-05 02:13] kevenleone commented on #52
@chenrui333 I'm really busy these days, but when possible I'll help to translate to pt-br, and join in Slack to talk about it.

Thanks for attention

[2020-02-05 02:19] chenrui333 commented on #52
Feel free to create a PR and start the translation work, we can take in whenever ready.

[2020-02-05 02:27] RRFHOUDEN commented on #74
Sorry to ask such a basic question :(
When I suggest to revise Japanese translation, what should I do?
I'd like to review "index", and I think it has several unnatural expressions.
But, I don't know what to do next

[2020-02-05 03:31] GindaChen commented on #74
@RRFHOUDEN Would you like to review this [What is Wuhan2020?](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/docs/ja-jp/overview/what-is-wuhan2020.md)

I post the list of review documents at the top of this issue page.

[2020-02-05 05:39] allenfantasy opened #73 "调整疫情数据使用的数据服务"
修改成 https://github.com/BlankerL/DXY-2019-nCoV-Crawler

目前封装的 json 文件只部署在了 http 环境，直接使用会出现 mixed content 的问题

[2020-02-05 05:39] allenfantasy commented on #73
/self-assign

[2020-02-05 06:18] #73 closed

[2020-02-05 10:51] ch-shumin opened #86 "[媒体文章搬到社区网站] 文案10：如何加入到 wuhan2020 开源项目，打赢这场没有硝烟的战争？"
中文标题：如何加入到 wuhan2020 开源项目，打赢这场没有硝烟的战争？
中文链接：https://mp.weixin.qq.com/s/YAMMgJH_EU7qzwHxppJXrw
英文标题：How to join wuhan2020 open source project, and survive this war without gunfire
英文链接：https://shimo.im/docs/5b4bb8b4dc064938/

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:18] ch-shumin opened #87 "[媒体文章搬到社区网站] 文案2 wuhan2020：武汉新型冠状病毒防疫开源信息收集平台"
https://mp.weixin.qq.com/s/ryWgXMLm3jYyINSllX_X9Q

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道

[2020-02-05 11:19] ch-shumin opened #88 "[媒体文章搬到社区网站] 文案3-Wuhan2020开源社区: 开源协作，共抗疫情"
https://mp.weixin.qq.com/s/53A0G51Zg0JwyK5QGQP63g

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:19] ch-shumin opened #89 "[媒体文章搬到社区网站] 文案4-感谢所有支持wuhan2020项目的朋友！我们招换更多人加入！"
感谢所有支持wuhan2020项目的朋友！我们招换更多人加入！:https://mp.weixin.qq.com/s/-k6FHh55IYBLhn40vK5SxQ

Recruiting! Thanks to those supporting project wuhan2020!:https://shimo.im/docs/6c617d7b5278487f/read

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:20] ch-shumin opened #90 "[媒体文章搬到社区网站] 文案5-wuhan2020开源项目协作流程发布 & 征集专家人士"
wuhan2020开源项目协作流程发布 & 征集专家人士: https://mp.weixin.qq.com/s/sJdqpjvWqRaDUg_3GB54dg

Wuhan2020 Open Source Project collaboration process released & experts wanted:
https://shimo.im/docs/0d51055cc0084fe9/

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:24] ch-shumin opened #91 "[媒体文章搬到社区网站] 文案6-疫情知识 -- 新型冠状病毒防护指南"
https://mp.weixin.qq.com/s/hGl-Sm6nXfd4cRfg_P5oqw

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:26] ch-shumin opened #92 "[媒体文章搬到社区网站] 文案7-为改善疫情助力，急需你的问卷反馈！用更透明的数据提升公共卫生治理能力"
https://mp.weixin.qq.com/s/bfF8bUJARrjWAILir7krKg

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:41] ch-shumin opened #93 "[媒体文章搬到社区网站] 文案8- wuhan2020 in ZhiHu"
wuhan2020 in ZhiHu:https://shimo.im/docs/e5a04f37e9f34efd/read

数据的力量 驰援疫情丨对抗新型肺炎，志愿者招募: https://zhuanlan.zhihu.com/p/104281610?utm_source=wechat_session&utm_medium=social&utm_oi=588249771974594560

[2020-02-05 11:43] ch-shumin opened #94 "[媒体文章搬到社区网站] 文案9- Respected all engineers who are fighting the Novel Coronavirus (2019-nCoV) pandemic behind the screen."
https://shimo.im/docs/0dcc8884a91f473f/

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 11:51] ch-shumin opened #95 "删除！[媒体文章搬到社区网站] 文案11-Wuhan2020 Open Source Project collaboration process released & experts wanted"
https://shimo.im/docs/0d51055cc0084fe9/read

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 12:01] ch-shumin opened #97 "[媒体文章搬到社区网站] 文案12-Recruiting! Thanks to those supporting project wuhan2020!"
https://shimo.im/docs/6c617d7b5278487f/

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-05 12:23] AnnaCICI commented on #69
Hello @GindaChen,

Ok i will start helping out with the french translation, you can assign this task to me.
I will subsequently create issues for the sub tasks.

[2020-02-05 14:44] lovepoem opened #98 "添加sitemap生成，方便站内url 提交搜索引擎"
添加sitemap生成，方便站内url 提交搜索引擎baidu 和google

[2020-02-05 15:04] #78 closed

[2020-02-05 15:10] thinkinnight commented on #99
@JinXJinX @KevinLJJ @qinqiangdavid 现在访问是否正常？

[2020-02-05 15:12] TechQuery commented on #79
7311572

[2020-02-05 15:23] GindaChen commented on #69
Fantastic!
See if you would also like to coordinate people in the wechat group and assign tasks for them. Many of them are not git users, so technical helps are needed.

[2020-02-05 16:05] TechQuery opened #80 "疫情图表性能优化"
1. ECharts 图表组件**按需引入**，以减小**包体积**：https://github.com/idea2app/ECharts-JSX
2. 启用有筛选参数的**数据源 API**，以加快**网络请求**：wuhan2020/rest-api#11

[2020-02-05 16:34] thinkinnight commented on #100
@lovepoem 我已经把这个issue移到wuhan2020.github.io这个repo下了

[2020-02-05 16:49] Demon-Shen opened #81 "手机端，iPhone8 ， 6s 微信浏览器，safari无法加载医院急需物资"

[2020-02-05 16:55] TechQuery commented on #81
@Demon-Shen 请用 Mac 版 Safari 的调试器连接 iOS 版 Safari，查看控制台报错并截图

@XuQuan-nikkkki 现代浏览器完全支持**跨域请求**，本项目的后端 API 也从一开始就开启了 CORS

[2020-02-05 19:44] iLtc commented on #100
像 [贡献者](https://community.wuhan2020.org.cn/zh-cn/docs/developers/developers_dev.html) 那样单独做成一个 赞助商 的页面吗？

还是放在全局的底部？

[2020-02-05 19:51] iLtc opened #102 "意大利语首页文字重叠"
## 当前问题

意大利语首页文字重叠，页面越窄重叠越厉害，最后还会出现文字超出边界的问题。

![image](https://user-images.githubusercontent.com/4352234/73877422-9ee53500-4826-11ea-9b78-21783a157553.png)

![image](https://user-images.githubusercontent.com/4352234/73877451-ac022400-4826-11ea-9c71-9e70d487f233.png)

![image](https://user-images.githubusercontent.com/4352234/73877504-c4723e80-4826-11ea-93b4-c5646a3e6ada.png)

![image](https://us

[2020-02-05 23:12] lovepoem commented on #100
在首页的底部放一个就行了吧

[2020-02-06 00:06] lovepoem commented on #101
hi ， @wertycn
早期没有看到你的作品，我还了发了一个issue https://github.com/wuhan2020/wuhan2020/issues/324
[提案] 将Wuhan2020社区网站作为金矿旁边的供水者（在社区官网帮各家“抗疫应用” 做宣传导流）

我邮件你了

[2020-02-06 00:19] lovepoem opened #103 "添加项目列表频道，介绍推广在社区孵化的项目"
## 描述功能要求
在社区网站加一个“项目列表”频道，介绍推广社区孵化的产品，
这个页面列出所有社区孵化的项目： 类似https://projects.apache.org/projects.html
我们项目少，可以加上图片详情描述

https://community.wuhan2020.org.cn/zh-cn/projects/index.html
### 如果有的话，请附图
![image](https://user-images.githubusercontent.com/827112/73894925-eae0ba00-48b8-11ea-8cb7-e20f8a577373.png)

[2020-02-06 00:24] lovepoem opened #104 "在一些页面添加邮件列表介绍"
## 描述功能要求
需要在一些入口页面添加邮件列表导航页

需要添加的页：
https://community.wuhan2020.org.cn/en-us/docs/dev/quickstart.html
https://community.wuhan2020.org.cn/ja-jp/docs/dev/quickstart.html
https://community.wuhan2020.org.cn/it-it/docs/dev/quickstart.html

https://community.wuhan2020.org.cn/zh-cn/blog/wuhan2020-official-announcement.html
https://community.wuhan2020.org.cn/en-us/blog/wuhan2020-official-announcement.ht

[2020-02-06 01:38] WeileiZeng opened #82 "【页面优化】医院界面 ，将”查看详情“按钮的文字换成”+n 项其他物资“"
## 医院页面，将”查看详情“按钮的文字换成”+n 项其他物资“

### 这样可以节省很多空间，尤其是手机页面。

[2020-02-06 03:30] allenfantasy commented on #80
收到。今晚抽点时间看看

[2020-02-06 05:56] #82 closed

[2020-02-06 07:01] lovepoem opened #106 "一个印度用户登录英文首页报错"
## 当前问题
一个印度用户登录英文首页报错

![image](https://user-images.githubusercontent.com/827112/73913165-49298f00-48f1-11ea-81d2-7b61a704760d.png)

## 期待的正确输出

页面正常

[2020-02-06 07:15] ch-shumin opened #107 "[媒体文章搬到社区网站] 文案xx -武汉莫慌"
团队加班加点制作超暖心“武汉莫慌”漫画，献给所有为疫情加油的你！

在过去的两周，肆虐的疫情和不断增加的疑似确诊病例下，我们看到的是各种求助和悲伤的信息，看到了很多抗击在肺炎第一线的故事，还有更多的，是普通和平凡的我们，焦虑，担心，害怕，恐慌，和愤怒。

当你感觉到无法从这样的情绪网中挣扎出来时，可以尝试点击一下这个链接，武汉莫慌，我们都在：

https://q.eqxiu.com/s/5aYnTQLR?eqrcode=1&share_level=7&from_user=2020020653677c58&from_id=a0873018-c&share_time=1580966341969&from=groupmessage&isappinstalled=0

[2020-02-06 07:37] zhmushan opened #108 "WSL下编译失败, 抛出YAMLException"
环境:
- nodejs: v12.15.0
- os: ubuntu(WSL)

错误信息:
[code]

[2020-02-06 07:41] zhmushan commented on #108
补充依赖安装信息:
[code]

[2020-02-06 07:55] WeileiZeng opened #109 "社区网站首页添加 产品官网入口"
### 建议在社区官网上也添加一个使用网站 https://wuhan2020.kaiyuanshe.cn/# 的入口。 比如放在“快速开始”和“github”的边上。 目前入口放在产品里面，觉得相对比较隐蔽。

[2020-02-06 10:46] Pandar1Young commented on #74
I can translate 'Data Collection Guide' page

[2020-02-06 12:23] purple-force commented on #108
1. yaml 14行缩进可能有问题 2. 当前工程依赖还不支持node12，降到10

[2020-02-06 12:25] zhmushan commented on #108
谢谢！那应该就是nodejs版本问题了

[2020-02-06 12:36] lovepoem commented on #104
@SataQiu  ， 这个issue 好像你已经处理了一半

[2020-02-06 12:44] swmiao commented on #79
/self-assign

[2020-02-06 12:53] lovepoem commented on #98
![image](https://user-images.githubusercontent.com/827112/73938651-a7bb3100-4922-11ea-9bfa-5fd144ac0e02.png)
https://www.xml-sitemaps.com/

https://github.com/txd-team/docsite-doc-v1/blob/master/docs/zh-cn/SEO.md

[2020-02-06 13:06] purple-force commented on #106
这是哪个页面，浏览器崩了吧

[2020-02-06 13:09] #108 closed, assigned to nobody

[2020-02-06 13:14] lovepoem commented on #106
好像不是我们的页面，别的媒体的

[2020-02-06 13:14] #106 closed, assigned to nobody

[2020-02-06 13:51] #102 closed, assigned to nobody

[2020-02-06 13:53] iLtc commented on #98
这样相当于手动生成了，我写个脚本自动遍历各个语言目录，然后生成 sitemap.xml

[2020-02-06 13:56] lovepoem commented on #98
这个得给他的组件提个issue

[2020-02-06 14:46] lovepoem commented on #99
先临时关闭，有问题请打开

[2020-02-06 14:46] #99 closed, assigned to nobody

[2020-02-06 15:10] GindaChen commented on #74
@Pandar1Young Fantastic! You can raise a PR refering this issue when you finish the translation.

[2020-02-06 15:46] iLtc commented on #109
右上角有这个链接的哦

![image](https://user-images.githubusercontent.com/4352234/73953022-c7743a00-48cd-11ea-9213-f49be4ec6256.png)

[2020-02-06 15:48] #109 closed, assigned to nobody

[2020-02-06 15:51] #79 closed, assigned to swmiao

[2020-02-06 22:03] GindaChen opened #119 "[Question] 如何新增一个语言"
## 描述你需要修改或新增的文档

我记得我们曾经有一个README描述如何支持一个新的语言。

这个README现在还健在吗？希望能post出来作为文档给新人使用

### 如果有的话，请附图

无

## 额外的信息

无

[2020-02-06 22:08] GindaChen opened #120 "[Language] Create French Language support"
## 描述功能要求

Create the language support for French

### 如果有的话，请附图

## 额外的信息

[2020-02-06 23:46] lovepoem commented on #119
在README上有

[2020-02-06 23:50] GindaChen commented on #119
所以我们没有自动化的方法对吧…… 现在要加一个语言的话需要edit 6个json file

[2020-02-07 00:02] RRFHOUDEN opened #123 "Japanese Page Link is Broken."
Many Japanese pages linked  Mandarin pages.
I'd like to fix that, but I don't know that which file I should fix.
Which file is it?

[2020-02-07 00:03] #123 closed, assigned to nobody

[2020-02-07 00:04] RRFHOUDEN commented on #123
I'm sorry, I misunderstood.

[2020-02-07 00:04] lovepoem commented on #123
Please paste the link or snapshot pictures

[2020-02-07 02:13] lovepoem commented on #119
目前确实需要手工修改一些

[2020-02-07 04:33] chenrui333 commented on #119
是的，其实也不是特别复杂。

[2020-02-07 04:33] chenrui333 commented on #119
我们可以单开新的 issue 加新的语言。

[2020-02-07 11:09] lovepoem opened #136 "添加一个全站访问数量统计，总pv & 总uv"
添加一个全站访问数量统计，总pv & 总uv

[2020-02-07 17:13] GindaChen opened #138 "How to add another langauge?"
1. Check [site_config](https://github.com/wuhan2020/wuhan2020.github.io/tree/dev/site_config) and see if there exist the entry of the langauge you add. If not, **raise an issue** about adding a language (like #120 )

2. Add the entries for all the `js` like [this commit](https://github.com/wuhan2020/wuhan2020.github.io/pull/121/commits/c056842dff02ad58ea9295100b1a22ded8c10ea8) in #121. You will se

[2020-02-07 19:14] chenrui333 commented on #138
可以加一个 markdown 文件放到顶层目录下面。

[2020-02-07 19:19] iLtc commented on #138
其实后期如果需要添加的语言数量较多的话，可以写个脚本自动把`.js`文件中和其他目录下`en-us`的内容拷贝到新语言下。

还可以写个脚本把各个语言下缺失的文件（新闻、博客、社区介绍等）从英文目录同步过去。

[2020-02-07 23:53] lovepoem commented on #138
Good job

[2020-02-08 00:41] WeileiZeng commented on #101
武汉开源 OpenSourceWuhan
集齐了开源平台上支援武汉的项目，是一个连结各个开源项目的入口。欢迎互相引用！

站点：
https://weileizeng.github.io/OpenSourceWuhan/

[2020-02-08 00:45] GindaChen commented on #138
附议。新的issue address这两个问题。
后面我们可以讨论一下把这个feature放到`docsite`里面

[2020-02-08 00:51] GindaChen opened #141 "[doc] README for Translator"
Let's pin an issue page referring to the following tutorials to the `translator-guide` at root:
- [ ] Translator 3 min quick start
- [ ] How to add a new language?
- [ ] How to post a task?
- [ ] How to ask for a task, accept a task, and finish a task?

Logistics:
- [ ] Also link these questions in FAQ

[2020-02-08 02:47] iLtc opened #143 "[Language] English Community Page Needs Translation"
## 当前问题

https://community.wuhan2020.org.cn/en-us/community/index.html

The article itself has been translated, but the title and short description haven't.

![image](https://user-images.githubusercontent.com/4352234/74077996-18ca1980-49f3-11ea-98a8-cc4dc08b0196.png)

The code location is https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/site_config/community.jsx#L11-L12.

## 期待的正确输出

Tran

[2020-02-08 03:26] imononoke commented on #103
hi @lovepoem  I wanna have a try.

[2020-02-08 03:27] iLtc commented on #103
@imononoke Thanks for helping. I have assigned this issue to you!

[2020-02-08 04:02] GindaChen opened #146 "加一个Translation的看板"
## 描述功能要求

加一个Translation的看板

### 如果有的话，请附图

## 额外的信息

[2020-02-08 04:19] #146 closed, assigned to nobody

[2020-02-08 04:28] GindaChen commented on #120
Close since fixed by #121

[2020-02-08 04:28] #120 closed, assigned to GindaChen

[2020-02-08 05:45] #100 closed, assigned to iLtc

[2020-02-08 05:58] WeileiZeng commented on #103
武汉开源OpenSourceWuhan 集结了支援武汉的开源项目，是一个连结各个开源项目的入口。

站点：
https://weileizeng.github.io/OpenSourceWuhan/

欢迎一起讨论或者引用，其实这个也可以算一个wuhan2020的子项目

[2020-02-08 06:12] Atena1118 opened #149 "[Italian Update] 门户网意大利语版优化-『主页HOME』"
- [HOME](https://community.wuhan2020.org.cn/it-it/index.html)
- [DOCUMENTAZIONE](https://community.wuhan2020.org.cn/it-it/docs/overview/what-is-wuhan2020.html)
- [SOSTENITORI](https://community.wuhan2020.org.cn/it-it/docs/developers/developers_dev.html)
- [BLOG](https://community.wuhan2020.org.cn/it-it/blog/index.html)
- [COMMUNITY](https://community.wuhan2020.org.cn/it-it/community/index.html)
-

[2020-02-08 06:18] GindaChen commented on #149
我感觉好像不太对 像 Star Fork 这样的metadata不应该显示在issue page上

@Atena1118 正确的做法是对这里进行文本改动：
https://github.com/wuhan2020/wuhan2020.github.io/blob/b5672af04ed3d0b3eab6f978999426bc67d74ec0/site_config/home.js#L40-L76

@lovepoem @TechQuery
但是按照我们今天的说法 @Atena1118 做的确实没有问题。如果有建议的话希望提出。

[2020-02-08 06:22] Atena1118 commented on #149
但是，让翻译人员 面对 这种 js 代码，可能不太友好噢。。。。哈哈哈

[2020-02-08 06:26] GindaChen commented on #149
对所以我才想看看 @lovepoem @TechQuery 有什么看法

我感觉最好的还是在 3 min tutorial （我还没提交估计今天我也写不完……）里面把`doc` 和页面`component`文本的区别写清楚。改动docsite或者js都确实比较麻烦

[2020-02-08 13:29] iLtc commented on #149
要不咱们建个表格，把要翻译的部分摘出来放进表格里，然后每种语言在后面分列排好，再用颜色标注未翻译、已翻译、已发布几种状态

[2020-02-08 14:14] Hee-San commented on #74
I would like to translate 'Guide for contributor' page

[2020-02-08 15:14] GindaChen commented on #74
Go for it! Here is the [original doc](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/docs/en-us/dev/contributing.md). When you're done translation, raise a PR and put the translation file into `/docs/ja-jp/dev/contributing.md`

[2020-02-08 17:57] GindaChen commented on #149
哎 我也感觉这样比较好管理……但我感觉还是要让翻译者区分什么是doc什么是站点信息 不然的话还是会比较混乱

[2020-02-08 17:58] GindaChen commented on #149
@Atena1118
我不太理解 DOCUMENTAZIONE 为啥不能是 DOCS ?

[2020-02-08 18:51] #149 closed, assigned to nobody

[2020-02-08 21:03] chenrui333 opened #152 "更新官方贡献者名单"
## 描述你需要修改或新增的文档

https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/docs/zh-cn/developers/developers_dev.md

### 如果有的话，请附图

![image](https://user-images.githubusercontent.com/1580956/74092002-8413fa00-4a8c-11ea-8127-ab2936a40822.png)

## 额外的信息

[2020-02-08 21:04] iLtc commented on #149
@GindaChen 翻译组目前有个类似的表格。他们希望现在能把已经翻译好的东西先发布出来，所以接下来我会协助他们尽快发布

[2020-02-08 21:06] GindaChen commented on #149
你发布一个issue吧 我也准备把所有的doc 搬过来
你是说石墨表格吗？

[2020-02-08 21:08] iLtc commented on #149
这个表格，我不知道你能不能打开 https://shimo.im/sheets/PhD3yRJKCJr8HcpP/

[2020-02-08 21:09] GindaChen commented on #149
对我就这个意思 你如果打算搬运的话可以开一个epic issue把所有需要搬运的放上来吗？这样如果你需要分工我也可以和你协调

[2020-02-08 21:10] iLtc commented on #149
我等翻译组醒了之后问问还有哪些要发布，然后开 issues

[2020-02-08 21:12] GindaChen commented on #149
我建议先开issue 然后搬能搬的 到时候等他们醒来我们再协调就好

[2020-02-08 21:12] GindaChen commented on #149
如果你搬的话 我就先把语言相关的issue解决一下

[2020-02-08 21:26] #143 closed, assigned to lovepoem

[2020-02-08 21:27] GindaChen opened #154 "[Doc] Document Transfer Epic Issue"
This epic issue defines what documents needs to be transferred from the [shimo](https://shimo.im/sheets/PhD3yRJKCJr8HcpP/MODOC) to this repo.

If you would like to help transferring document, first comment below and let us know which one(s) you're going to transfer. Then raise an issue indicating the transferring of documents.

[2020-02-08 21:32] GindaChen opened #155 "[Product] Unify name to Wuhan2020"
We have to agree on one product name. My suggestion is **Wuhan2020** because that is
1. The common usage in English
2. The most direct way to convey our idea
3. Better than `WUHAN2020` and `wuhan2020`: all capital `WUHAN` and all lower case `wuhan` shall never be used
4. Better than `Wuhan 2020`: we don't need a space when `Wuhan2020` is a movement that will be hashtaged, advertised, and propagaat

[2020-02-08 21:33] GindaChen commented on #155
This is a minor issue. See if our product team has any suggestion on this.

[2020-02-08 21:46] chenrui333 commented on #155
From purely engineering perspective, wuhan2020 is desired.

From product perspective, Wuhan2020 may be more syntax meaningful.

[2020-02-08 21:52] GindaChen opened #156 "[Language] Fix French Page"
Fix the metadata of the French page

[2020-02-08 21:52] GindaChen commented on #87
/self-assign

[2020-02-08 21:54] #156 closed, assigned to GindaChen

[2020-02-08 22:30] iLtc commented on #86
#158 中文版已提交

[2020-02-08 22:37] WeileiZeng commented on #155
what us the trouble with those different versions?

[2020-02-08 23:30] chenrui333 opened #85 "DeepScan medium issue"
link, https://deepscan.io/dashboard/#view=project&tid=7382&pid=9492&bid=123836&subview=issues

![image](https://user-images.githubusercontent.com/1580956/74093537-16be9400-4aa1-11ea-8878-13d74c88c682.png)

[2020-02-09 00:03] chenrui333 opened #162 "DeepScan issue reports"
dashboard for the issue report,
https://deepscan.io/dashboard/#view=project&tid=7382&pid=9495&bid=123841

![image](https://user-images.githubusercontent.com/1580956/74093832-ab2af580-4aa5-11ea-82ee-12b0e1f2b57c.png)

[2020-02-09 00:07] chenrui333 opened #163 "codebeat code quality reports"
Dashboard for the project code quality,
https://codebeat.co/projects/github-com-wuhan2020-wuhan2020-github-io-dev

![image](https://user-images.githubusercontent.com/1580956/74093879-3b693a80-4aa6-11ea-9804-d63d8d206895.png)

[2020-02-09 00:43] GindaChen opened #164 "[Translation Support] How to join Wuhan2020"
Need to add all language support for the following document:
[blog/zh-cn/how-to-join-wuhan2020.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/zh-cn/how-to-join-wuhan2020.md)

- [x] To English: `blog/en-us/how-to-join-wuhan2020.md`
- [ ] To Japanese: `blog/ja-jp/how-to-join-wuhan2020.md`
- [x] To Italiana: `blog/it-it/how-to-join-wuhan2020.md`
- [x] To French: `blog/fr-fr/how-to

[2020-02-09 00:45] GindaChen commented on #164
@iLtc

[2020-02-09 02:26] GindaChen commented on #107
这个应该怎么搬运到社区里……

[2020-02-09 02:42] iLtc commented on #107
找原来的团队把原图要过来？我看了一下这个网站里的图片质量不高，应该是压缩过给手机看的

[2020-02-09 02:52] GindaChen commented on #107
（哦哦我终于点开了……）这个漫画已经在翻译了
但是我们怎么呈现这个内容还是一个问题

[2020-02-09 02:54] GindaChen commented on #95
所以这个还需要搬运吗？**删除** 是什么意思……

[2020-02-09 03:10] iLtc commented on #164
#166 is the English version

[2020-02-09 03:11] iLtc commented on #86
#166 英文版已提交

[2020-02-09 03:22] #86 closed, assigned to iLtc

[2020-02-09 03:22] GindaChen commented on #86
Fantastic! Thanks for the contribution

[2020-02-09 03:30] iLtc commented on #107
我觉得直接把图片竖着贴在网页上就好啦？

但一定要高清的，不然看起来很累

[2020-02-09 04:25] Hee-San commented on #74
/self-assign

[2020-02-09 06:44] TechQuery commented on #85
ESLint 对 TypeScript 在非 React 项目中的 JSX 语法检查有问题，我还要研究一下

[2020-02-09 08:05] imononoke commented on #103
hi @iLtc @WeileiZeng 请问“项目列表”这个页面有设计过大致布局吗？

[2020-02-09 10:02] shawnpanda commented on #103
@imononoke 我跟lovepoem微信上联系了下，已经开始做个基本的，来替代现有的页面，我等下会做个pull request，如果你想更改，欢迎看一下

[2020-02-09 11:30] #103 closed, assigned to imononoke

[2020-02-09 21:40] lovepoem commented on #95
@ch-shumin 同问删除是啥意思

[2020-02-09 22:28] AnnaCICI commented on #69
Hello, all sub tasks have been done

[2020-02-09 22:54] GindaChen opened #179 "[Doc] Need French Translation for meta data and index page"
If you look at the French page, you will notice that many text are still in English -- `home`, `docs`, etc.
This is because they sit in the `site_config/*.js`, and need to directly edit the `js` to add the language there. Since it is very inconvienient to most translators, we didn't release this issue for a long time.

If you would like to address this issue:
1. Join our [shimo](https://shimo.im/s

[2020-02-09 22:59] GindaChen commented on #179
@AnnaCICI Would love you to take a look if you have time :D

[2020-02-09 23:00] GindaChen commented on #69
Thanks all for your effort! Please check the contributor in this page. If they don't match, comment below and let me know.

[2020-02-09 23:00] #69 closed, assigned to AnnaCICI

[2020-02-09 23:09] GindaChen opened #180 "从石墨表格生成site_config各文件"
Relates to #181

在[石墨表格](https://shimo.im/sheets/PhD3yRJKCJr8HcpP/QtAt0)中，我们将`site_config`中需要各翻译者翻译的文本都粘贴了上去。当翻译者翻译完成后，技术人员将翻译文本粘贴到`site_config`对应位置并提交。这种更改的方式比较麻烦。

建议：
1. 写一个简单的脚本将表格（csv）反向构造json
2. 将json object转换到`js`中并导出
(如果#181可以实现则生成yml)

（待讨论）

[2020-02-09 23:10] #119 closed, assigned to nobody

[2020-02-09 23:13] chenrui333 commented on #180
那个石墨文档我好像看不了。

[2020-02-09 23:14] chenrui333 commented on #180
我们现在有多少语言要做？

[2020-02-09 23:17] GindaChen commented on #180
当前支持的没有很多：中英日意法
可能不会支持其他语言

[2020-02-09 23:22] alexlinsy commented on #91
/self-assign

[2020-02-09 23:26] iLtc commented on #180
@GindaChen 我打算加个 Google Translate 的按钮，这样就不用增加其他语言了

[2020-02-09 23:30] GindaChen commented on #180
@iLtc
1. 加一个Translate 按钮。如果确实没有这个language的话就translate。
2. 配置docsite让它默认显示英文文档（而不是直接跳转到英文）。注意这个有区别：我们当前是直接跳转到英文文档，但是这样的话用户要回到原来的语言就要通过右上角的下拉菜单转换语言。（中文应该不会出现这个问题因为所有文档中文都有）

@Atena1118 估计会反对全文本用Google Translate。我也觉得至少要让用户看到一个比较忠实的文本，所以在当前语言显示默认语言的doc是一个比较好的做法

[2020-02-09 23:30] GindaChen commented on #180
你先提这个PR吧 毕竟这个功能确实很有用

[2020-02-09 23:43] iLtc opened #181 "将配置中的文字按照语言来分类，放到yml文件，方便翻译或者文案工作者编辑文字"
目前 site_config 下文件的格式是：

[code]

这样的格式有两方面的问题：

1. 要增加新语言的时候，需要去每个配置文件例分别添加新语言；

2. 由于 json 本身格式的问题，文件中有大量 中括号、大括号、引号 相互嵌套，修改配置或翻译时如果不慎弄错一个符号，就会导致编译失败。

针对以上两个问题，我们打算进行如下两部操作：

1. 将 site_config 下的配置文件重新排列，新格式如下：

[code]

这样，需要添加新语言时只需要直接复制另一个语言文件即可。

2. 将文件格式由 .js 转为 .yml。YAML 格式可以通过缩进取代部分括号，减轻格式复杂度。

[2020-02-09 23:49] lovepoem commented on #181
@purple-force , 麻烦指导一下。

[2020-02-09 23:49] iLtc commented on #91
@alexlinsy The '/self-assign' bot is not working now. I have assigned this issue to you.

[2020-02-09 23:56] alexlinsy commented on #91
@iLtc Thanks!

[2020-02-09 23:57] GindaChen commented on #181
支持 @purple-force

[2020-02-10 00:05] GindaChen opened #182 "自动化生成当前需要翻译的文档"
使用 #167 可以很方便的看到当前还有多少文档没有生成到其他语言。

如果可以用一个机器人/issue追踪这些update就很有效了。

[2020-02-10 00:08] chenrui333 commented on #180
这个还挺有意思的。

[2020-02-10 01:42] lovepoem commented on #91
Closed via  https://github.com/wuhan2020/wuhan2020.github.io/pull/186

[2020-02-10 01:42] #91 closed, assigned to alexlinsy

[2020-02-10 05:24] lovepoem opened #189 "【翻译 中文---英文】项目列表页翻译"
## 描述你需要修改或新增的文档
将中文文档 https://community.wuhan2020.org.cn/zh-cn/project/index.html
翻译成英文 https://community.wuhan2020.org.cn/en-us/project/index.html

源码地址： /site_config/project.js

[2020-02-10 05:25] lovepoem opened #190 "【翻译 中文---日文】项目列表页翻译"
## 描述你需要修改或新增的文档
将中文文档 https://community.wuhan2020.org.cn/zh-cn/project/index.html
翻译成英文 https://community.wuhan2020.org.cn/ja-jp/project/index.html

源码地址： /site_config/project.js

[2020-02-10 05:26] lovepoem opened #191 "【翻译 中文---法文】项目列表页翻译"
## 描述你需要修改或新增的文档
将中文文档 https://community.wuhan2020.org.cn/zh-cn/project/index.html
翻译成英文 https://community.wuhan2020.org.cn/fr-fr/project/index.html

源码地址： /site_config/project.js

[2020-02-10 05:27] lovepoem opened #192 "【翻译 中文---意大利文】项目列表页翻译"
## 描述你需要修改或新增的文档
将中文文档 https://community.wuhan2020.org.cn/zh-cn/project/index.html
翻译成英文 https://community.wuhan2020.org.cn/it-it/project/index.html

 源码地址： /site_config/project.js

[2020-02-10 08:02] lovepoem opened #195 "项目列表中，每个项目需要添加github 地址"
## 描述功能要求
https://community.wuhan2020.org.cn/zh-cn/project/index.html
项目列表中，每个项目需要添加github 地址

### 如果有的话，请附图
![image](https://user-images.githubusercontent.com/827112/74132888-637da880-4c22-11ea-9047-8e8b67a6531f.png)

可以考虑在红色方块处加一下，

要修改的文件； 文件夹 /pages/project 下的文件以及  /site_config/project.js

[2020-02-10 08:24] AnnaCICI commented on #69
Hello, these are right contributors for page

  docs/fr-fr/dev/contributing.md Contributed by @AnnaCICI
  docs/fr-fr/user/website-guides.md: Contributed by @bengbeng233
  blog/fr-fr/download.md: Contributed by @AnnaCICI

[2020-02-10 08:36] AnnaCICI commented on #179
No problem 👌

[2020-02-10 12:42] purple-force commented on #181
有些东西yaml格式支持不了，比如这种文字和链接混排。

[2020-02-10 12:43] purple-force commented on #181
![image](https://user-images.githubusercontent.com/16146970/74150917-ebc17500-4c45-11ea-9be2-30effbb9ae2f.png)

[2020-02-10 13:01] iLtc commented on #181
其实这几行字我们是准备把链接分开的。

链接混在文字里面，翻译会比较复杂，需要标注哪几个字在链接里面，哪几个字在外面。

[2020-02-10 14:18] lovepoem commented on #181
那还能取得原来那样的效果吗？

[2020-02-10 15:24] iLtc commented on #181
会变成“提交新问题”这几个字都是链接，而不是单单“新问题”三个字是链接。

这个暂时不会变，我先改 JSON 结构。

[2020-02-10 16:01] GindaChen commented on #181
有可能
1. 把所有字段的翻译留在site_config的csv文件里面
2. 我们写一个js把csv导入，然后programmatically构造config吗？

[2020-02-10 16:39] AnnaCICI commented on #179
/self-assign

[2020-02-10 17:04] iLtc commented on #179
@AnnaCICI Do you have access to the [Shimo document](https://shimo.im/sheets/PhD3yRJKCJr8HcpP/QtAt0)?

[2020-02-10 17:06] AnnaCICI commented on #179
I can modify directly in site_config/*.js.
/self-assign does not work in repo wuhan2020.github.io ?

[2020-02-10 17:22] GindaChen commented on #179
Since we maintained a csv for the doc, would you like to edit the Shimo then commit the changes here in `site_config`?

If you already edit the text in `site_config`, then you can raise a PR and then we may copy those changes later. Just want to make sure the two platforms are synced.

I see - I will see what hapened.

[2020-02-10 22:57] iLtc commented on #181
能，能。

我们可以考虑把表格转成 key/value 的格式，然后一份配置文件，针对不同语言生成不同版本。

[2020-02-11 03:23] alexlinsy commented on #195
/self-assign

[2020-02-11 04:40] lovepoem commented on #195
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/200

[2020-02-11 04:40] #195 closed, assigned to alexlinsy

[2020-02-11 05:40] lovepoem commented on #152
Closed  via  https://github.com/wuhan2020/wuhan2020.github.io/pull/201

[2020-02-11 05:41] #152 closed, assigned to nobody

[2020-02-11 12:04] lovepoem commented on #101
closed via https://github.com/wuhan2020/wuhan2020/issues/346

[2020-02-11 12:04] #101 closed, assigned to nobody

[2020-02-11 12:15] purple-force commented on #181
有结论吗？

[2020-02-11 17:22] GindaChen opened #205 "QRCode of our wechat group in this page is now unavailable."
@GindaChen
1 more thing.
plz note that the QRCode of our wechat group in this page is now unavailable.

_Originally posted by @Pandar1Young in https://github.com/wuhan2020/wuhan2020.github.io/pull/172#issuecomment-584506765_

[2020-02-11 18:00] kevenleone opened #208 "pt-br language is in loop"
Hello, i've created this PR #204, to add a new language (pt-br) on docs and website.

And everything worked fine in my environment, i've executed the build and ran with python as mentioned on docs, no problem ocurred.

But here: https://community.wuhan2020.org.cn/pt-br

The website is reloading in loop, probably this redirect.ejs is doing that, but i don't know why this is happening.

[2020-02-11 19:08] chenrui333 opened #210 "test self-assign feature"
relates to https://github.com/wuhan2020/wuhan2020/issues/361
Hypertrons added in this PR, https://github.com/wuhan2020/wuhan2020.github.io/pull/209

[2020-02-11 19:21] chenrui333 commented on #210
Just duplicate the change in #211 to master branch.

[2020-02-11 19:22] chenrui333 commented on #210
Give another shot now.

[2020-02-11 19:22] chenrui333 commented on #210
/self-assign

[2020-02-11 19:25] lovepoem commented on #191
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/203

[2020-02-11 19:25] #191 closed, assigned to nobody

[2020-02-11 20:44] GindaChen commented on #210
/self-assign

[2020-02-11 20:45] GindaChen commented on #210
/self assign

[2020-02-11 23:31] lovepoem commented on #208
I have fixed via https://github.com/wuhan2020/wuhan2020.github.io/commit/7e5b7bd8b07664f4bd75b120279aaec6d1553757

[2020-02-12 00:08] kevenleone commented on #208
great @lovepoem, thanks

[2020-02-12 00:10] #208 closed, assigned to nobody

[2020-02-12 01:04] frank-zsy commented on #210
/self-assign

[2020-02-12 01:04] GindaChen commented on #210
/self-assign

[2020-02-12 01:04] GindaChen commented on #210
OK It works now!

[2020-02-12 01:07] frank-zsy commented on #210
The function is working now, this bug is related to a GitHub bug(feature?), when @menbotics receives the config file create event, it will try to read the config file on GitHub, but it returns 404 for several minutes which makes it very difficult to init the functions for the repo. We will figure it out later.

Now we need to restart the hypertrons service to make it work.

[2020-02-12 01:07] iLtc commented on #181
@purple-force 我这两天在忙学校作业，大约周三周四回复你

[2020-02-12 04:40] anndawn commented on #189
/self-assign

[2020-02-12 05:10] xrkffgg commented on #87
- 是否可将反显内容不放在按钮中？

[2020-02-12 07:31] TechQuery commented on #87
“反显”是啥？

[2020-02-12 07:33] xrkffgg commented on #87
就是选择的内容

[2020-02-12 07:40] xrkffgg commented on #87
<img width="836" alt="WeChat097fde464002a3baa6889e3c418b6908" src="https://user-images.githubusercontent.com/29775873/74313029-dbc4a500-4dad-11ea-8107-ce2e09a33755.png">

按钮上显示 省市区，超出了默认宽度

[2020-02-12 08:35] #210 closed, assigned to frank-zsy, GindaChen

[2020-02-12 16:05] iLtc opened #214 "Can't Start The Local Server"
## 当前问题

更新了最新的代码后，IDE 提示我 package.json 有变化，于是我顺便更新了所有包，之后无法启动本地服务器，报以下错误。

[code]

随后我重新下载了整个项目的最新代码，再次安装依赖，启动时仍然出现以上错误。

复现步骤：

[code]

## 期待的正确输出

可以启动服务器

[2020-02-12 16:09] GindaChen commented on #214
@chenrui333

[2020-02-12 16:33] chenrui333 commented on #214
这可能跟我上次upgrade dev server 有关系

我revert看看

[2020-02-12 16:36] iLtc commented on #214
@chenrui333 我把本地的 webpack-dev-server 换成 ^2.4.5 可以正常启动

[2020-02-12 17:06] chenrui333 commented on #214
make total sense.

[2020-02-12 17:06] #214 closed, assigned to nobody

[2020-02-12 17:07] chenrui333 commented on #214
revert is done.

[2020-02-12 21:43] max-shao commented on #189
/self-assign

[2020-02-12 23:38] #52 closed, assigned to nobody

[2020-02-12 23:53] lovepoem commented on #179
Close via https://github.com/wuhan2020/wuhan2020.github.io/pull/199

[2020-02-12 23:53] #179 closed, assigned to AnnaCICI

[2020-02-12 23:55] lovepoem commented on #95
和 @ch-shumin 沟通后，她意思是关闭这个issue

[2020-02-12 23:55] #95 closed, assigned to nobody

[2020-02-13 01:39] GindaChen opened #218 "Server 404!"
## 当前问题
[https://wh.opensource-service.cn/](https://wh.opensource-service.cn/) is 404. What happened?

![image](https://user-images.githubusercontent.com/32371474/74393298-5356fc00-4dcf-11ea-8ee2-d90dcdb8991a.png)

## 期待的正确输出

[2020-02-13 01:45] lovepoem commented on #218
我用chrome 看起来是好的

[2020-02-13 01:47] GindaChen commented on #218
哦哦我用chrome在clear cache就好了

[2020-02-13 05:56] jeremy0519 commented on #192
/self-assign

[2020-02-13 07:32] #192 closed, assigned to jeremy0519

[2020-02-13 08:58] keeStep opened #224 "【请教】docsite 安装完查看版本报错, docsite start报错相同"
【报错在最下面】
docsite@1.3.9-wuhan2020.5 postinstall D:\nvm\v8.16.0\node_modules\docsite

opencollective-postinstall

Thank you for using docsite!
If you rely on this package, please consider supporting our open collective:

https://opencollective.com/docsite/donate

npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN co-mocha@1.2.2 requires a peer of mocha@>=1.18 <

[2020-02-13 09:14] lovepoem commented on #189
Colsed via https://github.com/wuhan2020/wuhan2020.github.io/pull/213

[2020-02-13 09:14] #189 closed, assigned to anndawn

[2020-02-13 15:27] #218 closed, assigned to lovepoem, chenrui333, GindaChen

[2020-02-13 23:33] iLtc commented on #224
我下了最新版的源码，安装包之后没有报错，启动的时候也没有报错。

请问你有修改过源码吗？我注意到你的错误中出现了 `langList = [{`，这个应该是我们的代码。

[2020-02-14 03:33] iLtc commented on #181
大家有空看一下 #219，我把语言文件独立出来放在 `i18n/` 目录下，并尽量合并了所有添加新语言时需要修改的地方。

在目前的结构下，如果需要添加新语言，只需要修改 `site_config/site.js` 中的 `langList`，并在 `i18n` 目录下添加新语言文件（可以复制现有语言）即可。

本人 `react/nodejs` 不熟，改的不妥的地方恳请指出哈。

[2020-02-14 03:34] GindaChen commented on #181
我先点个👍 赶完due来找你

[2020-02-14 09:09] purple-force commented on #224
这个是docsite的问题，我修复下

[2020-02-14 09:30] purple-force commented on #224
已发布，`npm uninstall docsite -g && npm i docsite@wuhan2020 -g`

[2020-02-14 09:30] #224 closed, assigned to nobody

[2020-02-14 13:46] lovepoem opened #227 "[媒体文章搬到社区网站] 开源共抗：疫情信息导航站点正式入驻wuhan2020开源社区"
https://mp.weixin.qq.com/s/Cb7tPVjBe1aVcGiavXs_mg

标题作者请写媒体和作者名字
请使用 [Typora](https://www.typora.io/)  将`html`页面转化为`markdown`,放到社区频道.图片尽量下载到本站

[2020-02-14 14:35] #190 closed, assigned to nobody

[2020-02-14 17:35] chenrui333 commented on #98
where are we with this issue?

[2020-02-14 17:35] chenrui333 commented on #182
Is this good enough (leverage Google Translate to cover the languages that we don't have capacity for)?
![image](https://user-images.githubusercontent.com/1580956/74554003-82cc4c80-4f26-11ea-9696-920fd4cdfcf6.png)

[2020-02-14 17:38] chenrui333 commented on #164
@jeremy0519 @AnnaCICI @gakki88 Please take a peek on the French item.

[2020-02-14 17:48] iLtc commented on #98
I wrote a command-line tool to look through each language folder and then generate the sitemap file. I will merge the tool soon and try to let it run automatically during deploy.

[2020-02-14 17:57] iLtc commented on #182
The problem is that if the user uses the language switch tool on the right top corner to switch the language, and there is no page for the target language, it will redirect to the home page, which is confusing.

I think what @GindaChen wants to do are 1. automatically generate missing pages for all languages (probably just copy from `en-us` or `zh-cn`), and 2. automatically create issues for untra

[2020-02-14 17:58] GindaChen commented on #182
Exactly. (I will address this once I finish my essays...

[2020-02-14 22:58] lovepoem commented on #98
Awesome job

[2020-02-15 00:51] lovepoem opened #230 "在页脚添加项目列表"
## 描述功能要求
在页脚添加产品列表项，将
https://community.wuhan2020.org.cn/zh-cn/project/index.html 中的项目列出来，增加链接

### 如果有的话，请附图
![Screenshot_20200215_084549](https://user-images.githubusercontent.com/827112/74578448-b6af7c80-4fcf-11ea-80a5-ab12b4f4f848.jpg)

[2020-02-15 01:00] lovepoem commented on #98
在线的  sitemap.xml 404 的问题解决了么？ @iLtc @purple-force

[2020-02-15 01:04] iLtc commented on #98
什么 404 问题？ https://community.wuhan2020.org.cn/sitemap.xml 正常呀

[2020-02-15 01:33] gakki88 commented on #164
I'm on the french translation, just saying to avoid overlap

[2020-02-15 01:48] #2 closed, assigned to swmiao

[2020-02-15 03:16] chenrui333 opened #231 "Using `image-actions.yml` for configuration is deprecated"
Reference run, https://github.com/wuhan2020/wuhan2020.github.io/actions/runs/39537969

![image](https://user-images.githubusercontent.com/1580956/74580954-948a1000-4f77-11ea-903f-9c167e2c6753.png)

[2020-02-15 03:39] #98 closed, assigned to iLtc

[2020-02-15 06:53] jeremy0519 commented on #164
Maybe i will do the it-it one. But i am a little busy these days.

[2020-02-15 06:54] jeremy0519 commented on #164
I will do as soon as i am free.

[2020-02-15 07:20] lovepoem commented on #230
Close via https://github.com/wuhan2020/wuhan2020.github.io/pull/235

[2020-02-15 07:20] #230 closed, assigned to nobody

[2020-02-15 08:01] #231 closed, assigned to iLtc

[2020-02-15 08:56] mb0ma opened #238 "增加社区Hackathon活动页面"
## 需要增加黑客松中英文活动页面

### 请参考https://organizer.runtheworld.today/invitation/92

## 额外的信息
1. 2月17日前完成Landing Page, phase 1, 信息发布功能
Action: 明确页面主要内容模块 - 吴雪
Action: 提交需求文档 - Tianyi
Action: 设计 - Kate
Action: 将Landing Page的设计同步到海外流量入口RunTheWorld - Xiaoyin (RunTheWorld)

2. 2月17日前完成比赛内容和参赛规则 - Action: 王老师、Frank

3. 需在报名开始日之前完成Landing Page, phase 2， 注册

[2020-02-15 11:40] jeremy0519 commented on #164
I'm now on the it-it translation

[2020-02-15 22:30] chenrui333 opened #243 "image-action does not support webp image"
From https://github.com/wuhan2020/wuhan2020.github.io/pull/232#issuecomment-586549801
![image](https://user-images.githubusercontent.com/1580956/74596111-c0a99d80-5018-11ea-8a30-21d44667075b.png)

relates to https://github.com/calibreapp/image-actions/issues/31

[2020-02-15 23:31] iLtc commented on #224
我刚刚碰到了跟你一样的错误。

看了一下虽然 `docsite` 源代码有问题，但跟我们的操作也有关系。

因为 `docsite start` 要在项目根目录下执行，如果在子目录下执行，由于找不到一些配置文件，会触发 `docsite` 创建新站点的流程，并进一步触发源代码的错误。

但是在项目根目录执行 `docsite start` 就不会有问题，因为所有文件是齐全的。

[2020-02-16 00:19] keeStep commented on #224
嗯我昨晚也解决了，由于npm概念比较陌生，以为install完看到的docsite目录就是项目目录，就去start了，后来重新建了新文件夹作为项目目录然后初始化了一下就可以了。初始化和把项目克隆下来是一样的

| |
Kee
|
|
邮箱：13651486829@163.com
|

Signature is customized by Netease Mail Master

On 02/16/2020 07:31, Alan Luo wrote:

我刚刚碰到了跟你一样的错误。

看了一下虽然 docsite 源代码有问题，但跟我们的操作也有关系。

因为 docsite start 要在项目根目录下执行，如果在子目录下执行，由于找不到一些配置文件，会触发 docsite 创建新站点的流程，并进一步触发源代码的错误。

但是在项目根目录执行 docsite start 就不会有问题，因

[2020-02-16 02:35] sunshinemingo opened #249 "【翻译 中文-法文】使用法语翻译贡献者列表信息"
## 描述你需要修改或新增的文档
文档地址：https://github.com/wuhan2020/wuhan2020.github.io/tree/dev/docs/fr-fr/developers/developers_dev.md
目前文档中的内容为中文，需要翻译成法语。
### 如果有的话，请附图

## 额外的信息

[2020-02-16 02:37] sunshinemingo opened #250 "【翻译 中文-意大利文】使用意大利语翻译贡献者列表信息"
## 描述你需要修改或新增的文档
文档地址：https://github.com/wuhan2020/wuhan2020.github.io/tree/dev/docs/it-it/developers/developers_dev.md
目前文档内容为中文，需要翻译成意大利语。
### 如果有的话，请附图

## 额外的信息

[2020-02-16 02:39] sunshinemingo opened #251 "【翻译 中文-葡萄牙文】使用葡萄牙语翻译贡献者列表信息"
## 描述你需要修改或新增的文档
文档地址：https://github.com/wuhan2020/wuhan2020.github.io/tree/dev/docs/pt-br/developers/developers_dev.md
目前文档内容为中文，需要翻译成葡萄牙语。
### 如果有的话，请附图

## 额外的信息

[2020-02-16 04:26] iLtc commented on #238
@lovepoem 占位符页面要不要先建起来？内容后面再添加

[2020-02-16 04:35] lovepoem commented on #238
@sunshinemingo  is trying, you can give her some help  @iLtc

[2020-02-16 04:37] iLtc commented on #238
Okay, @sunshinemingo please let me know if you need any help!

[2020-02-16 05:10] keeStep opened #254 "首页的谷歌翻译器对重要内容进行了错误翻译"
## 当前问题
1.中文版：
![image](https://user-images.githubusercontent.com/38199712/74599425-96112080-50bc-11ea-870b-3caa35061da1.png)

2.右上角切换英文版：
![image](https://user-images.githubusercontent.com/38199712/74599431-aa551d80-50bc-11ea-8b5c-de7690eae04f.png)

3.等待谷歌翻译器加载完成后：
![image](https://user-images.githubusercontent.com/38199712/74599451-f30cd680-50bc-11ea-9b46-73d38b86cf14.png)

4.将谷歌翻译器的语言切换为中文（注意，不

[2020-02-16 06:22] iLtc commented on #254
你好👋

图3的问题描述不是很清楚，没有办法复现。谷歌翻译器加载后（但用户没有点击需要翻译的语言时）页面内容不应发生变化。

图4的问题确实存在，其根本原因是谷歌翻译器没有收录 nCov 这个短语。不过也可以看到下面描述的小字翻译基本正确。

我在加入这个功能后大概做了测试，大部分词语（比如 新型冠状病毒防疫信息平台）的翻译都比较准确，或者至少可以被理解。个人认为不应该因为 nCov 这个短语翻译错误而否定谷歌翻译的价值。

机器翻译达不到人工翻译的准确性是一直存在的。我们接入机器翻译的目的不是为了取代翻译组同事的人工翻译，而是为翻译组尚未覆盖语言区域，又希望了解 新型冠状病毒防疫状况 的用户以便利。即使我们不提供这个功能，其他语言区域的用户也会通过各种方式（多半还是谷歌翻译）来查看翻译过的页面结果。

[2020-02-16 09:24] keeStep commented on #254
你好，明白大家对谷歌翻译的依赖以及信任和推崇，可能是目前没有录入他的库。
图三的英语其实会出现好几种形式：
1.打开https://community.wuhan2020.org.cn，默认是英文版，然后点击谷歌翻译选择英文，他会重新翻译：
![image](https://user-images.githubusercontent.com/38199712/74602071-fd8c9780-50df-11ea-921e-2432b10cd630.png)

2.把 1 打开的页面关掉 重新打开 1 的链接，此时页面是人工翻译的英文，同时谷歌翻译会自动加载英文翻译，等待一会【国内比较慢】就回出现图1的字样。

3.在2的基础左上角切换为中文，由于谷歌翻译器插件目前是英文，随后会将中文页面谷歌翻译为英文，这时是由中文进行的翻译：
![image](https://user-images.g

[2020-02-16 09:41] jeremy0519 opened #255 "readme.md 中文翻译"

[2020-02-16 14:24] #255 closed, assigned to nobody

[2020-02-16 19:32] sciulli commented on #68
/self-assign

[2020-02-16 22:37] #249 closed, assigned to nobody

[2020-02-17 04:00] menbotics[bot] opened #260 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-2-10 to 2020-2-17"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-02-17 09:29] jeremy0519 commented on #250
/self-assign

[2020-02-17 10:32] jeremy0519 commented on #251
/self-assign

[2020-02-17 10:42] jeremy0519 commented on #74
I can translate the last one, which is github repo processing

[2020-02-17 14:06] jeremy0519 commented on #205
这个二维码就是信息组微信群的二维码
[二维码地址](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/images/docs/QRCode.jpeg)

[2020-02-17 14:07] jeremy0519 commented on #205
要更新二维码，2月7日就过期了

[2020-02-17 14:08] jeremy0519 commented on #164
@GindaChen You may remove the kind/question label.

[2020-02-17 14:27] jeremy0519 commented on #136
貌似不蒜子可以统计pv
`<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>`
`<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>`

[2020-02-17 16:01] sciulli opened #263 "Wrong titles/links in the italian version of the documentation section’s side menu"
Some parts of the italian version of the documentation section’s side menu contain wrong titles and links, please correct as follows:

- Panoramica
-- Di cosa si occupa Wuahan2020?
-- FAQ
- Guide per gli utenti
-- Guida alla piattaforma di prevenzione epidemica COVID-19
- Guide per gli sviluppatori
-- Quickstart
-- Flusso di lavoro del team (Cinese)
-- Guida alla raccolta dati
-- Guida all’iscrizi

[2020-02-17 16:04] GindaChen commented on #263
Thanks! Anyone who knows about the current design of `site_config` is welcomed to take this issue
I can also take this issue later too.

[2020-02-18 00:33] lovepoem commented on #136
可以尝试下将各个页面加上点击量，页脚加上pv uv

[2020-02-18 00:39] lovepoem opened #264 "将新冠肺炎疫病名称从2019-ncov修改为covid-19"
将新冠肺炎疫病名称从2019-ncov修改为covid-19
包括项目名称和文档

[2020-02-18 02:01] jeremy0519 commented on #264
还要更改slack和lark的channel名

[2020-02-18 02:03] jeremy0519 commented on #264
#anti-2019-ncov -> #anti-covid-19

[2020-02-18 02:11] jeremy0519 commented on #264
github仓库名也是

[2020-02-18 02:15] jeremy0519 commented on #264
2019-nCoV-Nav -> COVID-19-Nav

[2020-02-18 02:58] #250 closed, assigned to jeremy0519

[2020-02-18 02:58] #251 closed, assigned to jeremy0519

[2020-02-18 02:58] #264 closed, assigned to nobody

[2020-02-18 03:50] iLtc commented on #136
@jeremy0519 你有兴趣做一下这个 issue 吗？

[2020-02-18 03:56] jeremy0519 commented on #136
我技术方面不太行，代码是我从官网上找的

[2020-02-18 05:19] iLtc commented on #136
Okay, 我稍后做一下

[2020-02-18 06:37] jeremy0519 opened #266 "Add baidu vertification"
add a baidu vertification file

[2020-02-18 07:50] jeremy0519 commented on #74
/self-assign

[2020-02-18 08:34] lovepoem commented on #266
这些已经都完成了

[2020-02-18 08:34] #266 closed, assigned to nobody

[2020-02-18 13:40] jeremy0519 commented on #227
Typora怎么把html页面转换为markdown，为什么导入选项没有html？

[2020-02-18 15:02] lovepoem commented on #227
直接在页面粘贴过来

[2020-02-18 15:57] lovepoem opened #268 "两个项目的描述，编辑进行了文案打磨，需要更新"
## 描述你需要修改或新增的文档

对项目列表 https://community.wuhan2020.org.cn/zh-cn/project/index.html 两个项目的**描述**，编辑进行了文案打磨，请更新 ：

https://wh.opensource-service.cn/**

 **描述：**
wuhan2020信息服务官网，是由程序员和开发者创建的疫情相关的资源对接综合类信息服务平台。以关注数据平台层面为核心，解决极端应急条件下，消息不对等和信息不透明导致的物资供应不足、就诊信息混乱、异地人员无法解决外宿等问题。主要面向政府、公益组织、企事业单位、医疗机构、患者、捐助者等相关机构和人群。开发者们均可以借助技术工具和数字平台，利用数字平台优势，实现供需数字化、提升信息透明度，让各供需方进行分布式自助对接，提升效率。参与wuhan2020 众多开发者们，用自己擅长的技术

[2020-02-18 16:34] iLtc opened #269 "搜索引擎优化"
看了一下谷歌百度后台的搜索记录，我们社区的索引量不是很理想。直接在谷歌百度搜索 `wuhan2020`，能看到大量报道，但真正链接到社区的少之又少。

通过 `site:` 关键词来筛选结果，谷歌只有两页，还全是中文的，百度直接为空。

[谷歌结果](https://www.google.com/search?q=site:community.wuhan2020.org.cn) [百度结果](https://www.baidu.com/s?wd=site%3Acommunity.wuhan2020.org.cn)

分析了可能的几个原因，大家一起讨论一下。

## 针对谷歌百度排名靠后的情况

目前我们的社区页面向外链接了各个项目，但几乎没有任何外界的页面链接回了社区。互联网上各大针对我们社区的报道都是链接到 github 或者 shimo 上，github 上仅用少数几处链接到社区网站。

[2020-02-18 22:30] iLtc commented on #136
@lovepoem 不蒜子可以提供三种数据：本文阅读量 `page_pv`、本站访问量 `site_pv`和本站访客人数 `site_uv`。你觉得要哪几个？

[2020-02-18 23:10] lovepoem commented on #136
都要

[2020-02-19 01:51] jeremy0519 commented on #243
How about changing webp format to jpg?

[2020-02-19 02:53] reclusive-neural-network commented on #269
其它项目也是初显苗头，大家都缺流量。互链应该帮助不大（但是还是要链，应该说好是**互**链）。

国内可以在知乎做些问答，比如“程序员能为抗击新冠做些什么”，推荐自己的项目，顺便把别人的项目也推荐下，比如：
https://feiyan.help/
https://gitee.com/dcloud/xinguan2020

国外方面可以在可以在quora上做类似的问答。
还可编辑维基百科武汉疫情的页面，介绍志愿者的行动，顺便附上链接。
在SO上问些技术问题，比如我们的网站应该如何设置**之类。

还有，主动联系媒体，讲自己既有的成就，讲未来的计划，请求帮助招募人才实现未来的计划。

这个[建立医院床位队列系统](https://github.com/wuhan2020/wuhan2020/issues/376)也许是一个媒体会感兴趣的计划。

还有我昨天发现的[#看见女性劳动者#](htt

[2020-02-19 04:07] jeremy0519 commented on #269
可以考虑将github迁移到gitee或coding或gitcafe，github pages确实会屏蔽百度爬虫

[2020-02-19 07:09] #136 closed, assigned to iLtc

[2020-02-19 08:46] #268 closed, assigned to nobody

[2020-02-20 01:13] jeremy0519 commented on #227
/self-assign

[2020-02-20 03:13] #227 closed, assigned to jeremy0519

[2020-02-20 04:45] jeremy0519 commented on #227
Someone can move it to done in project page.

[2020-02-20 04:48] jeremy0519 commented on #107
同意

[2020-02-20 04:52] jeremy0519 commented on #74
@GindaChen I think you can close the issue.

[2020-02-20 05:03] GindaChen commented on #74
Fantastic! Thank you all for the contribution!

[2020-02-20 05:03] #74 closed, assigned to Hee-San, Pandar1Young, jeremy0519

[2020-02-20 05:42] jeremy0519 commented on #92
/self-assign

[2020-02-20 07:07] #92 closed, assigned to jeremy0519

[2020-02-20 09:03] lovepoem commented on #238
初版 已经在 https://github.com/wuhan2020/wuhan2020.github.io/pull/273 提交

[2020-02-20 11:32] reclusive-neural-network commented on #269
对。

即使开发仍在github，也最好把页面和数据同步过去（gitee 应该是支持静态页面的)。国内的访问速度也会提高不少。

另外考虑到“众所周知”门槛，最好把新项目也开设在国内的平台上，也就是大多数人可以直接接触到的地方。

但是无论怎样，还是应该把主要精力集中在解决实际问题上。

Elon Musk的话：**we don't buy advertising.** 酒香不怕巷子深。

根据我一段时间的观察，wuhan2020的“主营业务”医用物资筹集系统实际上同质化很严重，[比如](https://weileizeng.github.io/OpenSourceWuhan/)：
https://feiyan.help/
http://charity.foodblockchain.com.cn/?from=timeline&isappinstalled=0
连京东也来了：
http://

[2020-02-20 14:08] jeremy0519 commented on #269
我己经测试了，gitee用baidu抓取没有问题

[2020-02-20 15:27] iLtc commented on #269
有没有人在其他地区测试 gitee？我这里（美国纽约）有几个网络打不开 gitee

[2020-02-20 22:40] reclusive-neural-network commented on #269
gitee在湾区访问正常(延迟稍长)。

[2020-02-21 11:52] jeremy0519 commented on #269
可以参考这个测速结果，http://tool.chinaz.com/speedworld/gitee.com

[2020-02-21 13:49] #90 closed, assigned to nobody

[2020-02-21 17:09] iLtc opened #280 "同步社区页面到 Gitee 上"
终于决定将社区页面到托管平台从 GitHub Pages 迁移到 Gitee Pages 啦。

以下是计划的步骤：

- [x] 实现 GitHub 代码自动同步到 Gitee，打算通过 Travis CI 执行脚本来实现
- [x] 验证 Gitee 社区页面有没有异常
- [x] 切换域名解析到 Gitee
- [ ] 检测百度收录情况

注意只是将 GitHub Pages 同步到 Gitee Pages，提交代码仍在 GitHub 上进行。

[2020-02-21 17:20] iLtc commented on #269
迁移社区页面项目请移步 #280 讨论。

其他可以做的：

- [ ] 与其他项目交换链接
- [ ] 优化关键词
- [ ] 媒体推广
- [ ] 改进页面链接

[2020-02-22 03:00] iLtc commented on #280
gitee 自动同步已实现，先放任它跑两天看看有没有问题

[2020-02-22 03:02] lilysjtu2011 opened #289 "blog页面日期错误"
## 当前问题
日期应该是2020，而不是2019

## 期待的正确输出

[2020-02-22 03:02] lilysjtu2011 commented on #289
/self-assign

[2020-02-22 03:21] iLtc opened #287 "Add Cache to CI and Deploy"
咱们的 [CI](https://github.com/wuhan2020/wuhan2020.github.io/blob/master/.github/workflows/CI.yml) 和 [Deploy](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/.github/workflows/deploy.yml) 脚本运行时间通常超过 1.5 分钟，而 Travis CI 上的脚本运行时间只要 0.5 分钟。多出来的时间主要浪费在了重复安装依赖上。可以给这两个脚本增加缓存来缩短安装依赖的时间。

可以参考 [GitHub Action Cache](https://help.github.com/en/actions/configuring-and-managing-workflows/caching-depende

[2020-02-22 03:42] jeremy0519 commented on #280
我自己搭的gitee pages百度收录没问题

[2020-02-22 03:47] jeremy0519 commented on #280
社区页面也没问题

[2020-02-22 04:09] WeileiZeng commented on #280
有Gitee链接吗

[2020-02-22 04:13] WeileiZeng commented on #254
已经提供了英文版，别人应该不会用谷歌翻译了吧

[2020-02-22 04:14] iLtc commented on #280
https://wuhan2020.gitee.io/

[2020-02-22 06:16] lovepoem commented on #287
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/288

[2020-02-22 06:16] #287 closed, assigned to nobody

[2020-02-22 08:57] #289 closed, assigned to lilysjtu2011

[2020-02-22 13:55] jeremy0519 commented on #87
/self-assign

[2020-02-23 02:24] #87 closed, assigned to GindaChen, jeremy0519

[2020-02-23 04:07] jeremy0519 commented on #263
能说的更详细一点吗？

[2020-02-23 04:11] lovepoem commented on #263
说是意大利语的左侧菜单，链接不对，链到英文版了。

[2020-02-23 04:12] lovepoem commented on #263
现在需要检查i18n的意大利版本的链接

[2020-02-23 04:39] jeremy0519 opened #293 "infoemation-guide.md添加seo"
- [ ] zh-cn
- [ ] en-us
- [ ] pt-br
- [ ] ja-jp
- [ ] fr-fr
- [ ] it-it

[2020-02-23 04:52] jeremy0519 commented on #263
有些文章是因为没有翻译成意大利文

[2020-02-23 05:21] #293 closed, assigned to nobody

[2020-02-23 05:34] #263 closed, assigned to nobody

[2020-02-24 04:00] #260 closed, assigned to nobody

[2020-02-24 04:00] menbotics[bot] opened #296 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-2-17 to 2020-2-24"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-02-24 06:58] lovepoem opened #297 "创建项目入驻（捐献）指南"
## 描述你需要修改或新增的文档
创建项目入驻（捐献）指南
### 如果有的话，请附图

## 额外的信息

[2020-02-24 10:03] lovepoem opened #298 "志愿者证书[frontend]"
## 描述功能要求
添加志愿者证书姓名修改页面，作为交互的入口：
https://community.wuhan2020.org.cn/volunteer/update-name.html

### 如果有的话，请附图
![image](https://user-images.githubusercontent.com/827112/75143258-ad40b580-572f-11ea-8780-152071bedc50.png)

## 额外的信息

[2020-02-24 10:04] lovepoem commented on #298
@Muxxs @DoubleNou

[2020-02-24 10:21] lovepoem commented on #298
@Jesson-xmb

[2020-02-24 10:24] jesson-xmb commented on #298
/self-assign

[2020-02-24 12:58] btlin1213 opened #300 "community.wuhan2020.org.cn 网站上拼写错误"
community.wuhan2020.org.cn 网站上点入子页面（如文档等）看到的左侧菜单中贡献者指南下面Slack Channel 拼成了 Slack Channle 望更改以增专业度
![image](https://user-images.githubusercontent.com/55481667/75154340-9e72f680-5761-11ea-8809-57e48eefdfe4.png)

[2020-02-25 02:04] jeremy0519 commented on #300
/self-assign

[2020-02-25 02:32] #300 closed, assigned to jeremy0519

[2020-02-25 02:35] lovepoem commented on #297
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/299

[2020-02-25 02:35] #297 closed, assigned to nobody

[2020-02-25 02:45] jeremy0519 commented on #205
有人有信息组的微信群二维码吗？

[2020-02-25 02:55] jeremy0519 commented on #94
@lovepoem seo写什么？

[2020-02-25 03:29] lovepoem commented on #94
按照标题，找两个关键词吧

[2020-02-25 05:22] #94 closed, assigned to nobody

[2020-02-26 00:07] jeremy0519 opened #306 "[Translation Support] Collaborative process publishing"
Need to add all language support for the following document:
[blog/zh-cn/collaborative-process-publishing.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/zh-cn/collaborative-process-publishing.md)

- [ ] To English: `blog/en-us/collaborative-process-publishing.md`
- [ ] To Japanese: `blog/ja-jp/collaborative-process-publishing.md`
- [ ] To Italiana: `blog/it-it/collaborative-pro

[2020-02-26 00:10] jeremy0519 opened #307 "[Translation Support] Nav project introduced"
Need to add all language support for the following document:
[blog/zh-cn/nav-project-introduced.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/zh-cn/nav-project-introduced.md)

- [ ] To English: `blog/en-us/nav-project-introduced.md`
- [ ] To Japanese: `blog/ja-jp/nav-project-introduced.md`
- [ ] To Italiana: `blog/it-it/nav-project-introduced.md`
- [ ] To French: `blog/fr-fr/n

[2020-02-26 00:13] jeremy0519 opened #308 "[Translation Support] Need questionnaire"
Need to add all language support for the following document:
[blog/zh-cn/need-questionnaire.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/zh-cn/need-questionnaire.md)

- [x] To English: `blog/en-us/need-questionnaire.md`
- [ ] To Japanese: `blog/ja-jp/need-questionnaire.md`
- [ ] To Italiana: `blog/it-it/need-questionnaire.md`
- [ ] To French: `blog/fr-fr/need-questionnaire.md

[2020-02-26 00:19] jeremy0519 opened #309 "[Translation Support] Wuhan2020 intro"
Need to add all language support for the following document:
[blog/zh-cn/wuhan2020-intro.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/zh-cn/wuhan2020-intro.md)

- [ ] To English: `blog/en-us/wuhan2020-intro.md`
- [ ] To Japanese: `blog/ja-jp/wuhan2020-intro.md`
- [ ] To Italiana: `blog/it-it/wuhan2020-intro.md`
- [ ] To French: `blog/fr-fr/wuhan2020-intro.md`
- [ ] To Portugu

[2020-02-26 00:21] jeremy0519 opened #310 "[Translation Support] Respected all engineers"
Need to add all language support for the following document:
[blog/en-us/respected-all-engineers.md](https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/blog/en-us/respected-all-engineers.md)

- [ ] To Chinese: `blog/zh-cn/respected-all-engineers.md`
- [ ] To Japanese: `blog/ja-jp/respected-all-engineers.md`
- [ ] To Italiana: `blog/it-it/respected-all-engineers.md`
- [ ] To French: `blog/fr

[2020-02-26 00:58] lovepoem commented on #307
Blog的翻译应该向后放放，优先级更高的应该是docs下的文章

[2020-02-26 00:59] lovepoem commented on #307
@jeremy0519 你在slack上找我下

[2020-02-26 01:43] jeremy0519 commented on #307
你可以把priority设成低的

[2020-02-26 15:06] pengcc commented on #298
/self-assign

[2020-02-26 23:37] lovepoem opened #312 "将Hackathon活动加入项目列表"
## 描述功能要求
将Hackathon活动加入项目列表

https://community.wuhan2020.org.cn/zh-cn/project/index.html

[2020-02-26 23:42] lovepoem commented on #254
暂时关闭

[2020-02-26 23:42] #254 closed, assigned to nobody

[2020-02-27 13:49] zhaofeng-shu33 commented on #280
why gitee?

[2020-02-27 16:12] zhaofeng-shu33 commented on #312
Need the exact title, github repo url and a passage of description

[2020-02-27 17:11] iLtc commented on #280
@zhaofeng-shu33

For some reason, GitHub Pages do not work with Baidu Spider, so our site does not show up in Baidu search results.

Also, images on our site load slow for people in China.

[2020-02-27 19:37] zhaofeng-shu33 commented on #280
It is reported that gitee page does not support custom domains if they haven't registered themselves in ICP system.  So currently we have to use gitee original domain name [wuhan2020.gitee.io](https://wuhan2020.gitee.io) to visit the website.

[2020-02-27 21:33] iLtc commented on #280
Yes, you are correct. I think @frank-zsy is working on registering our domain, but due to the epidemic, the process is slow now.

[2020-02-28 00:28] jeremy0519 commented on #280
好像gitee如果自定义域名的话，必须要gitee pages pro
gitee官网上说的：

[2020-02-28 00:56] jeremy0519 commented on #68
/self-assign

[2020-02-28 01:56] lovepoem opened #314 "志愿者证书需求[backend]"
需求：

1、登入 slack 和填写人才信息时候的邮箱合并起来作为 志愿者邮箱列表（协调组提供）

2、发邮箱到志愿者邮箱，邮件内容为一个链接，点开后在页面提供输入自己姓名和

应该有几个功能：1、后台生成图片  2、发送邮箱功能 3、启动一个web服务，输入邮箱，校验

静态界面：见附件https://github.com/wuhan2020/design-prototype

old issue：https://github.com/wuhan2020/wuhan2020.github.io/issues/298

new repo: https://github.com/wuhan2020/volunteer-certificate

[2020-02-28 01:57] lovepoem commented on #314
@pengCC 正在处理中

[2020-02-28 02:01] lovepoem opened #315 "黑客松社区导流页面优化"
@Namaste  讲的目前的情况：
1. [x] 之前网页一直在调整，文本内容是写在html里的，现在基本定型可以考虑抽离出来了； 原型地址：https://github.com/wuhan2020/design-prototype
2. [ ] 我将评委的数据建立起来了，其他的合作平台之类的数据也应该抽离出 datasource；
3. [x] 转换成react；
4. [ ] 手机端适配
5. [x] 将文字放入i18n 配置文件中

目前的页面：https://community.wuhan2020.org.cn/zh-cn/hackathon/index.html
老的issue：https://github.com/wuhan2020/wuhan2020.github.io/issues/238

[2020-02-28 02:04] lovepoem commented on #238
添加了优化需求  https://github.com/wuhan2020/wuhan2020.github.io/issues/315

关闭这个

[2020-02-28 02:04] #238 closed, assigned to Caagei, katejia110

[2020-02-28 02:51] zhaofeng-shu33 commented on #314
do we have a backend?

[2020-02-28 03:04] GindaChen opened #316 "[Hack for Wuhan] Hack for wuhan Hackathon is waiting for you!"
[Original Link](https://mp.weixin.qq.com/s/r9QKAV04yQzCis84XtjnCA)

# Hack for Wuhan Hackathon is waiting for you!

![img](https://mmbiz.qpic.cn/mmbiz_jpg/32JAxM2rtQGibVjGaFytTqfPFfZzpocBasESR3NI3BOtBdWzCsZ8r6cFq9lv8GpDN9ibx1ZVPVG2hxEWWicroT8jA/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1)

## 01. What can we do?

As of 22:00 on February 22, 2020, a total of 77,924 cases of nCov infected have been c

[2020-02-28 03:11] GindaChen commented on #316
To reviewer

1. The translation of the following sentence is pretty hard.

2. The company namaes needs verification (marked as `==Check the company names here==`)

There are also top VCs such as Andreessen Horowitz, Sequoia, Zhenge Fund, Jinshajiang Venture Capital, Google, Microsoft, Alibaba Cloud, Byte Dance, Facebook, Pinterest, Uber, Didi and other big companies.

There are also outstanding st

[2020-02-28 03:17] GindaChen commented on #316
[translation.md.zip](https://github.com/wuhan2020/wuhan2020.github.io/files/4265113/translation.md.zip)

[2020-02-28 03:24] jeremy0519 commented on #316
先把what can we do的第一句话nCov改成COVID-19

[2020-02-28 07:37] zhaofeng-shu33 commented on #315
The speaker data has been extracted https://github.com/zhaofeng-shu33/wuhan2020.github.io/blob/23a18ca690c5f8338e54bbad31328055d7e1caa9/src/pages/hackathon/index.jsx#L39.

[2020-02-28 08:22] zhaofeng-shu33 commented on #315
I have moved the speaker data to `/i18n/zh-cn.js`.

[2020-02-28 11:43] Ema1997 commented on #312
/self-assign

[2020-02-28 11:46] lovepoem commented on #312
项目名称：黑客松
项目描述：黑客松活动是社区举办的创意设计大赛。为了呼吁更多人参与、创造包括产品原型，编码，用户体验设计以及业务/社会影响模型等形式的作品，以对抗新冠病毒疫情。此外，鼓励社会创新，以开源协作来帮助对抗疫情，并在志愿者，机构，企业和平台之间创造共享价值。
线上平台：https://community.wuhan2020.org.cn/zh-cn/hackathon/index.html
github地址：https://github.com/wuhan2020/Hackathon

[2020-02-28 12:49] zhaofeng-shu33 commented on #315
@jeremy0519 Can you help to resolve this issue by translating `/i18n/en-us.js` from `/i18n/zh-cn.js`  for hackathon part ?

[2020-02-28 13:26] zhaofeng-shu33 opened #323 "remove generate file in build directory"
## 描述功能要求
remove generate file
### 如果有的话，请附图
Such as `build` directory
## 额外的信息

[2020-02-28 13:55] frank-zsy commented on #323
Agree, auto generated files should not be included.

[2020-02-28 13:55] iLtc commented on #323
I agree that the build folder should be removed.

[2020-02-28 15:48] lovepoem commented on #323
可以尝试下。我记得有点问题，这个build下的东西删掉的话。

[2020-02-28 15:59] zhaofeng-shu33 commented on #323
OK

[2020-02-28 16:09] zhaofeng-shu33 commented on #315
@lovepoem Where is the data of judge?

[2020-02-28 21:14] #323 closed, assigned to zhaofeng-shu33

[2020-02-29 03:28] lovepoem commented on #315
@namaste Do you know about this ?

[2020-02-29 07:35] zhaofeng-shu33 commented on #314
* It is reported that JingDong Cloud will provide the backend server for our community.
* Since we do not know the real names of many volunteers. We use this way to collect their name and send their certificate to their email.
* Firstly we send emails to the volunteers with the content `/zh-cn/certification/index.html?token=abc`. Then the frontend code gets the token and collect the name and email

[2020-02-29 07:45] jeremy0519 commented on #315
是把zh-cn.js里面hackathon部分的英文翻译成中文吗？

[2020-02-29 07:47] jeremy0519 commented on #315
speaker list里面基本是英文

[2020-02-29 07:49] jeremy0519 commented on #315
@zhaofeng-shu33

[2020-02-29 07:57] lovepoem commented on #314
Here the name can be modified , but email cannot be modified

[2020-02-29 08:15] zhaofeng-shu33 commented on #314
ok

[2020-02-29 08:18] zhaofeng-shu33 commented on #315
No need to translate English into Chinese I think. There are some Chinese texts in the dictionary of hackathon. We can translate them into English first.

[2020-02-29 08:20] jeremy0519 commented on #315
What does "them" refer to?

[2020-02-29 09:15] zhaofeng-shu33 commented on #315
the empty string in hackathon of en-us.js

[2020-02-29 09:17] jeremy0519 commented on #315
You can review the pr mentioned above.

[2020-02-29 09:21] ashfaq92 commented on #308
[survey translated.docx](https://github.com/wuhan2020/wuhan2020.github.io/files/4270113/survey.translated.docx)
translated in english.
now you can translate this into other languages easily

[2020-02-29 09:22] jeremy0519 commented on #315
Also update the subject, activity, holder, application section.

[2020-02-29 09:26] ashfaq92 commented on #308
![image](https://user-images.githubusercontent.com/28701122/75604908-8cee6d80-5b18-11ea-8342-ccddc58ecdb1.png)

[2020-02-29 09:26] jeremy0519 commented on #308
You can raise a pr resolving the english part first.

[2020-02-29 09:26] zhaofeng-shu33 commented on #308
Maybe we only need Chinese and English. And Chinese is of highest priority.

[2020-02-29 09:27] jeremy0519 commented on #308
Chinese is already ready.

[2020-02-29 09:27] ashfaq92 commented on #308
english part is done. my friend is working on french

[2020-02-29 09:28] ashfaq92 commented on #308
somebody proof read my english translation

[2020-02-29 09:29] jeremy0519 commented on #308
Have you raised a pr?

[2020-02-29 09:36] ashfaq92 commented on #308
i am new to this. I have just shared english translated word file above.

[2020-02-29 09:40] ashfaq92 commented on #308
somebody else can create pr with english translation. I have translated all survey questions in english

[2020-02-29 09:48] zhaofeng-shu33 commented on #308
@ashfaq92 You can create a file called "need-questionnaire.md" in `blog/en-us` and create the pull request.

[2020-02-29 09:50] zhaofeng-shu33 commented on #315
That's true

[2020-02-29 12:38] AnnaCICI commented on #315
Hello @jeremy0519 ,

 @zhaofeng-shu33 told me that maybe you need help, please let me know if you want me to translate certain sections.

[2020-02-29 14:22] zhaofeng-shu33 opened #331 "Add temporary preview in CI"
## 描述功能要求
Currently, the build of pr does not produce artifact. Some contributors are unable to have the local build environment and we are not sure whether their changes are ok. This is especially true for changes in style-sheets. So can we provide a way to download the artifacts for pr build?
### 如果有的话，请附图

## 额外的信息

[2020-03-01 01:11] lovepoem commented on #312
![image](https://user-images.githubusercontent.com/827112/75617616-725dd800-5b9c-11ea-9d8b-774b24a1bc19.png)

请在
https://github.com/wuhan2020/wuhan2020.github.io/blob/dev/i18n/zh-cn.js  加上新项目

[2020-03-01 08:26] lovepoem opened #335 "https://community.wuhan2020.org.cn/certification/index.html 路由页面404.直接进入首页"
## 当前问题
 https://community.wuhan2020.org.cn/certification/index.html   路由页面404.直接进入首页

[2020-03-01 08:30] JCCC001 opened #336 "黑客松页面手机端适配"
目前黑客松的页面设定的是固定宽度，手机端适配是一个需要解决的问题。可以参考wuhan2020/design-prototype和已经在仓库里的src/pages/hackathon

[2020-03-01 08:43] lovepoem commented on #335
路径 是   https://community.wuhan2020.org.cn/zh-cn/certification/index.html  目前没有问题

[2020-03-01 08:44] #335 closed, assigned to nobody

[2020-03-01 08:45] pengcc commented on #336
/self-assign

[2020-03-01 11:54] lovepoem commented on #331
@purple-force Would you give some advice ?

[2020-03-02 04:00] #296 closed, assigned to nobody

[2020-03-02 04:00] menbotics[bot] opened #342 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-2-24 to 2020-3-2"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-03-02 06:13] #342 closed, assigned to nobody

[2020-03-02 06:16] zhaofeng-shu33 opened #343 "How to watch source changes?"
## 您的问题
Frequent changes of code need quick rebuild by webpack.
So I add `watch` options to webpack config but it seems not work.
I use command `npm run start`.
### 如果有的话，请附图

## 额外的信息

[2020-03-02 12:23] iLtc commented on #343
I use `docsite start`, and without changing anything, it can rebuild after changes.

[2020-03-02 13:39] zhaofeng-shu33 commented on #343
It is strange. I see some clue in [webpack watch config](https://webpack.js.org/configuration/watch/#not-enough-watchers). I check that
[code]
I do not know whether it is too slow or not.

[2020-03-02 14:37] iLtc commented on #343
Do you save code manually or does your IDE save code automatically for you? Sometimes if the IDE saves code too frequently, webpack will start to delay updates.

[2020-03-02 15:10] jeremy0519 commented on #308
@ashfaq92 Have you translated the doc itself? Not the survey.

[2020-03-02 15:12] zhaofeng-shu33 commented on #343
I save it manually using vim.

[2020-03-02 16:32] ashfaq92 commented on #308
do you mean: have I translated questionnaire by myself? If you mean this, I took help from translate.google.com. That is why, it needs proofreading. Somebody who knows both chinese and english can proof read it. I only know english

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: 唐志鹏 <notifications@github.com>
Sent: Monday, March 2, 2020 11:10:53 PM
To: wuhan

[2020-03-02 16:41] zhaofeng-shu33 commented on #308
I think I can translate the draft and let @ashfaq92 do some kind of proof-reading.

[2020-03-03 05:24] katejia110 opened #375 "黑客松赛程看板-前端"
设计：https://www.figma.com/file/kApXTHeEBwJIrqAyvSv6rc/Hackathon?node-id=85%3A108
电脑和手机版本都在里面了。

目前静态文件同步到了github：https://github.com/wuhan2020/design-prototype/tree/master/hackathonKanban
页面是黑客松的赛程看板数据请和 @frank-zsy  合作完成数据同步。

[2020-03-03 06:29] zhaofeng-shu33 commented on #375
This issue is related with repo `wuhan2020/wuhan2020.github.io` and `wuhan2020/data-sync`.

[2020-03-03 16:41] lynklody commented on #315
Jr React developer & EN-CN translator. At your service.

[2020-03-04 02:27] zhaofeng-shu33 commented on #315
What do you mean @lynklody

[2020-03-04 04:08] zhaofeng-shu33 opened #347 "English homepage menu not expand on pc"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
![image](https://user-images.githubusercontent.com/23316477/75844359-b2c58c00-5e10-11ea-90bc-5acd5a03ddd9.png)

## 期待的正确输出
![image](https://user-images.githubusercontent.com/23316477/75844391-ca9d1000-5e10-11ea-8c3e-80b2f106096e.png)

[2020-03-04 05:28] lovepoem opened #348 "[bug] 当志愿者打开邮箱的链接页面时候，一些显示有问题（预发测试问题）"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
https://community.wuhan2020.org.cn/zh-cn/certification/index.html?token=cf5ce554-5dd7-11ea-bd3a-00163e04e275

![image](https://user-images.githubusercontent.com/827112/75847977-b579ae80-5e1b-11ea-83e4-17b9a98b1bfd.png)
1、提示有问题
2、邮箱应该设置成只读，不能修改
3、文字”昵称“修改成”称呼“

[2020-03-04 07:47] lovepoem commented on #348
closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/349

[2020-03-04 07:47] #348 closed, assigned to iLtc

[2020-03-04 07:50] lovepoem opened #350 "[bug] 志愿者正常数据提交报错"
## 当前问题
https://community.wuhan2020.org.cn/zh-cn/certification/index.html?token=cf5ce554-5dd7-11ea-bd3a-00163e04e275

![image](https://user-images.githubusercontent.com/827112/75856664-c59b8900-5e2f-11ea-8a5c-22a2e481ce9f.png)

[2020-03-04 09:00] #336 closed, assigned to pengcc

[2020-03-04 12:14] #298 closed, assigned to pengcc, jesson-xmb

[2020-03-04 14:28] lovepoem opened #357 "志愿者证书提交页面在手机端没有缩放和自适应"
https://community.wuhan2020.org.cn/zh-cn/certification/index.html?token=16882530-5e21-11ea-bd3a-00163e04e275

志愿者证书提交页面在手机端没有缩放和自适应

[2020-03-04 16:12] lynklody opened #358 "Slack Channel List Page"
## 描述功能要求

Since our dev team chat moved from Slack to Lark, should we modify the slack channel list page and its content https://community.wuhan2020.org.cn/zh-cn/docs/dev/slack-channels.html into what we have on Lark?

### 如果有的话，请附图

## 额外的信息

[2020-03-04 16:34] zhaofeng-shu33 commented on #358
I do not think we need. Very few people use Lark now.

[2020-03-04 17:53] #350 closed, assigned to nobody

[2020-03-04 17:54] #314 closed, assigned to nobody

[2020-03-04 17:54] #312 closed, assigned to Ema1997

[2020-03-04 19:55] pengcc commented on #357
/self-assign

[2020-03-04 22:23] lovepoem commented on #375
这个页面要做到哪里？有没有后端？

[2020-03-04 22:25] lovepoem commented on #357
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/359

[2020-03-04 22:25] #357 closed, assigned to pengcc

[2020-03-04 22:25] lovepoem commented on #357
Good job

[2020-03-05 00:25] Ema1997 commented on #375
请问关于这个任务有没有什么零碎的工作可以做，我刚接触前端，不是很熟悉整体看板的制作，不过我可以帮着干一些零碎的杂活

[2020-03-05 01:14] Ema1997 commented on #97
@ch-shumin 请问是把哪个html转成markdown啊，社区频道大概是哪里？

[2020-03-05 01:16] jeremy0519 commented on #97
https://shimo.im/docs/6c617d7b5278487f/
在`/blog/en-us/`里面新建一个`thank-supporting-project.md`，图片放到`/images/blog/media`里面，然后在`/i18n/en-us.js`里面community部分加上入口

[2020-03-05 01:39] lovepoem commented on #375
目前看暂时是 只有 wuhan2020/wuhan2020.github.io

[2020-03-05 02:19] Ema1997 commented on #97
关键词和描述是什么？

[2020-03-05 02:21] jeremy0519 commented on #97
关键词从标题里挑两个就行了，描述就写标题

[2020-03-05 03:32] Ema1997 commented on #97
/self-assign

[2020-03-05 04:40] Ema1997 commented on #97
请问图片应该怎么上传，我upload files的时候，显示没有push权限不能上传

[2020-03-05 04:43] jeremy0519 commented on #97
放到你的仓库中，然后再一起提pr

[2020-03-05 05:10] #97 closed, assigned to Ema1997

[2020-03-05 05:32] jeremy0519 commented on #308
How can we put the translated survey on the website? It's original link is not on our website.

[2020-03-05 07:02] ashfaq92 commented on #308
Dear @zhaofeng-shu33, I've reviewed your [translation](https://github.com/wuhan2020/wuhan2020.github.io/pull/346) and given some comments. I suggest using the "Language Tool" chrome extension for minor spelling and grammatical mistakes.  Thank you!

[2020-03-05 09:31] lynklody commented on #358
Ok

[2020-03-05 09:37] #358 closed, assigned to nobody

[2020-03-05 09:41] lynklody commented on #331
Don't quite know how this works, but I've seen some Github projects using CircleCI and it's compeletely compatible with github: https://circleci.com/integrations/github/. Just FYI.

[2020-03-05 09:45] zhaofeng-shu33 commented on #331
You can check [artifacts](https://github.com/wuhan2020/wuhan2020.github.io/actions/runs/49891734) for example. GitHub Actions is similar to CircleCI. Both of them have artifacts functionality.

[2020-03-05 10:47] lynklody opened #365 "Speakers session on the hackathon page (zh-cn) is still in English"
## 描述你需要修改或新增的文档
It seems the source code's under /utils/zh-cn/hackathon/index.html and the the content is hard-coded. The previous part on the page is already coded in Chinese. However, the speaker portion is still in English. Is it necessary to parameter the data or should the hard-coded portion be converted to Chinese without modifying the code?

### 如果有的话，请附图
![image](https://user-images.githu

[2020-03-05 10:49] zhaofeng-shu33 commented on #365
No, please see `src/pages/hackathon/index.jsx` instead. It is not hard-coded.
Indeed, there is no Chinese introduction of speakers. But I do not think it is a big problem

[2020-03-05 10:51] lynklody commented on #365
I didn't find the path```src/pages/Hackathon/hackathon.jsx```
Is the gitee repo version outdated?

[2020-03-05 10:54] zhaofeng-shu33 commented on #365
I have updated the path.

[2020-03-05 11:06] lynklody commented on #365
I don't see hackathon directory under ```src/pages/```.
Source code cloned from Gitee. Is the Gitee repo not synced with the Githun one?

[2020-03-05 11:18] JCCC001 commented on #365
I will solve it

[2020-03-05 12:28] zhaofeng-shu33 commented on #365
Please check out to `dev` branch, the master branch is generated from `dev`. @lynklody

[2020-03-05 12:58] lynklody commented on #365
@zhaofeng-shu33 Got it. Thanks!

[2020-03-05 13:02] zhaofeng-shu33 commented on #365
See PR #369

[2020-03-06 00:36] #306 closed, assigned to nobody

[2020-03-06 03:20] jeremy0519 commented on #280
现在这个issue还有人正在做吗？

[2020-03-06 03:29] lovepoem commented on #280
还没有结束，别关

[2020-03-06 03:30] iLtc commented on #280
还在等备案吧？

[2020-03-06 03:33] lovepoem commented on #280
嗯

[2020-03-06 03:34] lovepoem commented on #365
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/369

[2020-03-06 03:34] #365 closed, assigned to nobody

[2020-03-06 03:35] #43 closed, assigned to nobody

[2020-03-06 03:36] lovepoem commented on #104
Finished

[2020-03-06 03:36] #104 closed, assigned to nobody

[2020-03-06 03:37] lovepoem commented on #138
See README.md

[2020-03-06 03:37] #138 closed, assigned to nobody

[2020-03-06 03:39] lovepoem commented on #316
@GindaChen Would you please pull a request ?

[2020-03-06 03:40] lovepoem commented on #182
目前看，在i18n里编辑多语言等解决大部分问题了

[2020-03-06 03:40] #182 closed, assigned to GindaChen

[2020-03-06 03:41] lovepoem commented on #181
现在是在i18n的配置里编写多语言内容。先关闭

[2020-03-06 03:41] #181 closed, assigned to iLtc, purple-force

[2020-03-06 04:19] zhaofeng-shu33 commented on #280
In China, I am afraid `org.cn` is difficult to pass the audit for a community without certificate.

[2020-03-06 09:09] pengcc opened #374 "Implementaion of hackathon kanban"
## 描述功能要求
implement the hackathon kanban page
### 如果有的话，请附图

## 额外的信息

[2020-03-06 09:09] pengcc commented on #374
/self-assign

[2020-03-06 10:48] lovepoem commented on #180
通过在i18n的配置，暂时解决让各个语言分开的问题。先关闭这个问题

[2020-03-06 10:48] #180 closed, assigned to nobody

[2020-03-06 10:50] lovepoem commented on #205
微信导流二维码本身是7天过期的，后面都进入slack

[2020-03-06 10:50] #205 closed, assigned to nobody

[2020-03-06 10:50] lovepoem commented on #141
这个就算了吧先

[2020-03-06 10:50] #141 closed, assigned to GindaChen

[2020-03-06 10:56] pengcc opened #376 "kanban-Timer"
## 描述功能要求
- In Page hackathonKanban
- mobile-first
- functional component no state, name: KanbanTimer
- props: title [string], from[time string], timeSlots[array of object]
### 如果有的话，请附图
-- current feature----
**显示过了北京时间3月6号凌晨12点多久**
![Screenshot 2020-03-06 at 12 37 33](https://user-images.githubusercontent.com/10584406/76080479-429d3e80-5fa7-11ea-86d7-acddc08defb8.png)

----old feature-----
![Scr

[2020-03-06 10:58] zhaofeng-shu33 commented on #376
which `url`?

[2020-03-06 11:10] pengcc opened #377 "Kanban-BadgeCardList"
## 描述功能要求
- In page hackathonKanban
- mobile-first
- component name: BadgeCardList
- props: itemList [array]

### 如果有的话，请附图

![Screenshot 2020-03-06 at 11 50 37](https://user-images.githubusercontent.com/10584406/76078625-5777d300-5fa3-11ea-8760-638843b0a978.png)

![Screenshot 2020-03-06 at 11 50 57](https://user-images.githubusercontent.com/10584406/76078639-5cd51d80-5fa3-11ea-93a6-c00263687649.p

[2020-03-06 11:18] pengcc opened #378 "Kanban-BadgeCardItem"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- functional component no state, name: BadgeCardItem
- props: quantity [string], itemStyle[object]
- icon and background are implemented as a background image in Sass
### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 12 18 05](https://user-images.githubusercontent.com/10584406/76079239-8d6

[2020-03-06 11:26] pengcc opened #379 "kanban-hackathonProgress"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- functional component state, name: HackathonProgress
- props: title [string], timeStart[time string], timeEnd[time string], milestone[object]
### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 11 51 12](https://user-images.githubusercontent.com/10584406/76079735-9c9d0480-5fa5-11ea-98f3-17f

[2020-03-06 11:32] pengcc opened #380 "Kanban-LightningTalkList"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- fucntional component no state, name: LightningTalkList
- props: title[string], item [component LightningTalkItem]
### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 12 45 13](https://user-images.githubusercontent.com/10584406/76080938-54331600-5fa8-11ea-85b9-e4bc6c0c3377.png)

[desktop]
!

[2020-03-06 11:46] pengcc opened #381 "Kanban-LightningTalkItem"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- props: url [string]

### 如果有的话，请附图
![Screenshot 2020-03-06 at 12 46 04](https://user-images.githubusercontent.com/10584406/76081001-7331a800-5fa8-11ea-97dc-0ff19dc13394.png)
## 额外的信息
see the design
https://www.figma.com/file/kApXTHeEBwJIrqAyvSv6rc/Hackathon?node-id=0%3A1

[2020-03-06 11:55] pengcc opened #382 "Kanban-TeamList"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- functional component no state, name: TeamList
- props: title[string], description[string], tableHeader[array], item[component, teamItem]
### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 12 52 12](https://user-images.githubusercontent.com/10584406/76081397-4e8a0000-5fa9-11ea-8d23-614366b

[2020-03-06 12:00] pengcc opened #383 "Kanban-TeamItem"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- fucntional component no state, name: TeamItem
- props: itemHeader[array], itemConent[array]
### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 12 59 03](https://user-images.githubusercontent.com/10584406/76081829-441c3600-5faa-11ea-9039-ab3f351d3433.png)
[desktop]
![Screenshot 2020-03-06

[2020-03-06 12:03] pengcc opened #384 "Kanban-dark mode"
## 描述功能要求
- add a mode toggle button- change page background color
- Click the button to toggle normal mode or dark mode
### 如果有的话，请附图
![Screenshot 2020-03-06 at 13 02 39](https://user-images.githubusercontent.com/10584406/76082053-c60c5f00-5faa-11ea-871e-7d0b30a08e8c.png)
## 额外的信息
see the design
https://www.figma.com/file/kApXTHeEBwJIrqAyvSv6rc/Hackathon?node-id=0%3A1

[2020-03-06 12:11] pengcc opened #385 "Kanban-TeamListPaging"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop

### 如果有的话，请附图
![Screenshot 2020-03-06 at 13 11 03](https://user-images.githubusercontent.com/10584406/76082542-f1dc1480-5fab-11ea-958a-d10767c43719.png)

## 额外的信息

[2020-03-06 12:22] #374 closed, assigned to pengcc

[2020-03-06 13:03] pengcc commented on #376
/self-assign

[2020-03-06 19:54] pengcc commented on #377
/self-assign

[2020-03-06 20:42] pengcc opened #388 "Kanban-TopCountriesMap"
## 描述功能要求
- In page hackathonKanban
- mobile-first, please consider the difference between mobile and desktop
- **fucntional component no state**, name: TopCountriesMap
- props: title[string], countries[array], itemStyle[style object]

### 如果有的话，请附图
[mobile]
![Screenshot 2020-03-06 at 11 50 48](https://user-images.githubusercontent.com/10584406/76120934-dba57700-5ff2-11ea-97d3-3632a4357028.png)
[d

[2020-03-06 21:50] pengcc commented on #378
/self-assign

[2020-03-07 00:06] pengcc commented on #376
Currently, the timer can only show static time. I reopen the bug and fix it soon.

[2020-03-07 00:17] pengcc commented on #376
pr not working here, separate pr created. This issue closed.

[2020-03-07 09:25] pengcc commented on #382
/self-assign

[2020-03-07 09:26] pengcc commented on #383
/self-assign

[2020-03-07 09:26] pengcc commented on #385
/self-assign

[2020-03-07 10:07] pengcc commented on #378
done.

[2020-03-07 10:07] #378 closed, assigned to pengcc

[2020-03-07 12:25] zhaofeng-shu33 commented on #376
![image](https://user-images.githubusercontent.com/23316477/76143357-b75c9f80-60b1-11ea-8749-6d9483166174.png)

[2020-03-07 15:14] ANPULI commented on #388
/self-assign

[2020-03-07 15:25] #376 closed, assigned to pengcc

[2020-03-07 16:59] #383 closed, assigned to pengcc

[2020-03-07 17:42] #388 closed, assigned to ANPULI

[2020-03-07 23:10] #382 closed, assigned to pengcc

[2020-03-07 23:37] lovepoem commented on #384
这个不用实现

[2020-03-07 23:37] #384 closed, assigned to nobody

[2020-03-07 23:39] lovepoem commented on #385
全部显示好了

[2020-03-07 23:39] #385 closed, assigned to pengcc

[2020-03-07 23:39] lovepoem commented on #379
已经完成

[2020-03-07 23:39] #379 closed, assigned to nobody

[2020-03-07 23:40] lovepoem commented on #377
已经完成

[2020-03-07 23:40] #377 closed, assigned to pengcc

[2020-03-07 23:41] lovepoem opened #407 "Kanban - 贴出决赛10强"
## 描述功能要求

Kanban - 贴出决赛10强

[2020-03-07 23:42] lovepoem opened #408 "Kanban - 将入围决赛团队和最终获奖团队加上勋章"
## 描述功能要求
Kanban - 将入围决赛团队和最终获奖团队加上勋章

https://community.wuhan2020.org.cn/zh-cn/hackathonKanban/index.html
![image](https://user-images.githubusercontent.com/827112/76413675-cce30980-63d0-11ea-880f-9221b4d72ee3.png)

因为已经有初赛项目列表了，所以，直接初赛项目的每个section  打上类似于勋章的标签，并加上所获奖项的文字
文字有： 一等奖、二等奖、三等奖、观众最喜爱、导师最喜爱、入围决赛

决赛10强
2 Aid Tracker捐赠直连——捐赠对接与追踪一体化平台
4 高校健康打卡平台
6 DiagnoseMe
12 中医AI诊断系统
14 Nedelp 设计 联名 众筹

[2020-03-07 23:50] lovepoem commented on #407
![mmexport1583624960811](https://user-images.githubusercontent.com/827112/76154087-595fa480-6111-11ea-907e-0f2c5a9718da.jpg)

数据数据桩子已经提交，选型见figma

[2020-03-07 23:51] lovepoem commented on #408
![mmexport1583624960811](https://user-images.githubusercontent.com/827112/76154093-7ac09080-6111-11ea-8d8b-ee58044c6ef2.jpg)
数据桩子已经有了

[2020-03-07 23:54] lovepoem opened #409 "在队伍名称前列出队伍编号"
## 描述功能要求

举例子: 1 - xxxx标题

[2020-03-08 00:02] lovepoem commented on #407
展示方式参考初赛队伍

[2020-03-08 00:08] lovepoem commented on #408
![mmexport1583626109719](https://user-images.githubusercontent.com/827112/76154247-0d622f00-6114-11ea-8b8d-abfb85b42137.jpg)

[2020-03-08 02:23] wonder-o opened #410 "移动端世界参赛地图文字没换行"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
![image](https://user-images.githubusercontent.com/650112/76155430-d9443980-6126-11ea-9a76-6cffaf6ffd5c.png)

## 期待的正确输出
移动端需要换行处理

[2020-03-08 02:37] lovepoem commented on #280
百度收录还是不行，sitemap抓取会报超时

[2020-03-08 02:53] zhaofeng-shu33 commented on #280
Why timeout?

[2020-03-08 03:07] lovepoem commented on #280
不知道 按理说百度抓取的时候应该读取gitee的sitemap,现在速度够快了

[2020-03-08 03:41] zhaofeng-shu33 commented on #280
Visit the overseas website maybe?

[2020-03-08 04:11] #410 closed, assigned to ANPULI

[2020-03-08 04:40] zhaofeng-shu33 commented on #343
To handle the problem of slow building in development. I create a custom webpack configuration file called `wc.js` in `zh-cn` directory. It is copied from `webpack.config.js` in the project root directory and I make some changes:
[code]
Then run `node ./node_modules/webpack/bin/webpack.js --config zh-cn/wc.js` and the file `hackathonKanban.js` and `hackathonKanban.css` are generated. Then I can us

[2020-03-08 05:26] lovepoem commented on #407
决赛10强
2 Aid Tracker捐赠直连——捐赠对接与追踪一体化平台  
4 高校健康打卡平台 
6 DiagnoseMe 
12 中医AI诊断系统 
14 Nedelp 设计 联名 众筹 
15 一站式疫情数据开放平台   
20 Predication + Notification 
22 疫情智能机器人-小源  
25 翔鹰验收   
26 疫情故事商店 
30 City Hero 
37 autovax

[2020-03-08 05:28] lovepoem commented on #407
决赛10强
2 Aid Tracker捐赠直连——捐赠对接与追踪一体化平台  
4 高校健康打卡平台 
6 DiagnoseMe 
12 中医AI诊断系统 
14 Nedelp 设计 联名 众筹 
15 一站式疫情数据开放平台   
20 Predication + Notification 
22 疫情智能机器人-小源  
25 翔鹰验收   
26 疫情故事商店 
30 City Hero 
37 autovax

[2020-03-09 04:00] menbotics[bot] opened #416 "[WeeklyReport] Weekly report for wuhan2020.github.io 3/2/2020 to 3/9/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-03-09 07:13] #409 closed, assigned to ANPULI

[2020-03-09 22:38] katejia110 opened #418 "比赛结束整合赛程看板到黑客松页面"
1. 把黑客松页面顶部“立即报名” 改成“查看比赛”， 链接赛程看板的页面。
2. 赛程看板不需要单独出现为一个top level item。

[2020-03-09 22:41] katejia110 opened #419 "黑客松页面底部的报名section 去掉"
比赛结束
去掉黑客送底部的报名区 （本来也没有做成）
![Screen Shot 2020-03-09 at 3 39 49 PM](https://user-images.githubusercontent.com/60552868/76263550-67e6b280-621c-11ea-8d7c-203886769d15.png)

[2020-03-10 15:32] lovepoem commented on #418
Got it

[2020-03-10 15:36] #419 closed, assigned to nobody

[2020-03-10 16:07] #418 closed, assigned to nobody

[2020-03-10 20:27] pengcc opened #422 "getLink must be imported before using in hackathon/index.jsx"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
(node:33074) UnhandledPromiseRejectionWarning: ReferenceError: getLink is not defined
    at Hackathon.render (/Users/pengcc/Projects/wuhan2020.github.io/src/pages/hackathon/index.jsx:79:14)
## 期待的正确输出

[2020-03-10 20:27] pengcc commented on #422
/self-assign

[2020-03-10 22:06] #422 closed, assigned to pengcc

[2020-03-11 08:12] pengcc opened #425 "kanban timeline broken and deprecated date format"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
![Screenshot 2020-03-11 at 09 11 09](https://user-images.githubusercontent.com/10584406/76395745-469ad900-6378-11ea-843b-ad3f361d8ed2.png)
![Screenshot 2020-03-11 at 09 08 15](https://user-images.githubusercontent.com/10584406/76395753-48fd3300-6378-11ea-9d44-101284b33117.png)

## 期待的正确输出

[2020-03-11 08:12] pengcc commented on #425
/self-assign

[2020-03-11 08:13] zhaofeng-shu33 commented on #425
the timeline is broken?

[2020-03-11 09:16] pengcc commented on #425
a math calculation bug has been fixed

[2020-03-11 10:40] zhaofeng-shu33 commented on #425
ok, I will check it locally.

[2020-03-11 10:53] #425 closed, assigned to pengcc

[2020-03-11 11:02] #416 closed, assigned to nobody

[2020-03-11 11:45] lovepoem commented on #407
Closed via https://github.com/wuhan2020/wuhan2020.github.io/issues/408

[2020-03-11 11:45] #407 closed, assigned to nobody

[2020-03-11 13:10] lovepoem commented on #375
项目已经结束

[2020-03-11 13:10] #375 closed, assigned to nobody

[2020-03-11 13:17] lovepoem commented on #68
暂时关闭，如果有问题请随时打开

[2020-03-11 13:17] #68 closed, assigned to sciulli, jeremy0519

[2020-03-11 13:18] lovepoem commented on #154
暂时关闭，如果需要请随时打开

[2020-03-11 13:18] #154 closed, assigned to iLtc, GindaChen

[2020-03-11 13:18] lovepoem commented on #44
暂时关闭，有需求再打开

[2020-03-11 13:18] #44 closed, assigned to nobody

[2020-03-11 13:19] lovepoem commented on #280
百度收录不行，暂时关闭

[2020-03-11 13:19] #280 closed, assigned to iLtc

[2020-03-11 13:20] lovepoem commented on #164
暂时关闭

[2020-03-11 13:20] #164 closed, assigned to nobody

[2020-03-11 15:14] sciulli commented on #68
@lovepoem 谢谢，这个issue完全解决的，“guide for contributor”也是完整翻译成意大利语的。

[2020-03-11 22:30] evaqy commented on #408
Hello, lovepoem! 我是这个页面的设计师。卡片上的奖项已经做好了，具体可以看figma文件里的。

另外，卡片是鼠标悬停后才会显示项目内容，与黑客松页面上，评委和演讲人卡片的效果一样：
https://community.wuhan2020.org.cn/zh-cn/hackathon/index.html

<img width="1001" alt="Screen Shot 2020-03-11 at 6 25 27 PM" src="https://user-images.githubusercontent.com/35118281/76470002-efbbf080-63c5-11ea-9705-8a403a578951.png">

谢谢啦~

[2020-03-11 23:59] lovepoem commented on #408
太感谢了！！！

@pengcc 麻烦看一下

[2020-03-13 05:46] lovepoem opened #432 "时间线需要停掉。修改某些比赛数据"
## 描述功能要求
1、时间线数据调调
2、数据修改：902个报名，58个队伍

[2020-03-14 16:29] #432 closed, assigned to nobody

[2020-03-14 17:22] chenrui333 opened #439 "UI 显示 Bug"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题

click 贡献者的时候，显示文档选中。
![image](https://user-images.githubusercontent.com/1580956/76687045-c0d89100-65f6-11ea-9e0c-f778932e93ef.png)

## 期待的正确输出

应该显示贡献者选中。

[2020-03-14 17:23] chenrui333 opened #440 "Two DeepScan reported issues"
## 当前问题

Current DeepScan reported errors.

![image](https://user-images.githubusercontent.com/1580956/76687063-f7161080-65f6-11ea-8c02-fcce060ff802.png)

[2020-03-14 22:18] lovepoem opened #441 "对于时钟组件，当过了这个时间段，时钟归零"
## 描述功能要求
对于时钟组件，应该有“开始时间”和“结束时间”属性，比如3-6至3-8，当过了这个时间段，时钟归零，见图片
### 如果有的话，请附图
![Screenshot_20200315_061339](https://user-images.githubusercontent.com/827112/76691289-50785100-6684-11ea-9216-a0cd815e26c6.jpg)

## 额外的信息

[2020-03-15 08:15] #88 closed, assigned to iLtc

[2020-03-15 08:15] #89 closed, assigned to nobody

[2020-03-15 08:15] #93 closed, assigned to nobody

[2020-03-15 08:15] #107 closed, assigned to nobody

[2020-03-15 08:16] #380 closed, assigned to nobody

[2020-03-15 08:16] #381 closed, assigned to nobody

[2020-03-15 08:24] lovepoem opened #442 "本地docsite start 启动时候报env is not defined"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
![image](https://user-images.githubusercontent.com/827112/76698057-50567080-66d9-11ea-9348-38e07e7d6d66.png)

本地docsite start 启动时候报env is not defined

## 期待的正确输出

[2020-03-15 09:49] zhaofeng-shu33 commented on #442
Use `npm run start` instead?

[2020-03-15 10:36] lovepoem commented on #442
Have the same issue

[2020-03-15 15:01] zhaofeng-shu33 commented on #442
Uninstall docsite globally and run `npm run start` again?

[2020-03-15 18:17] pengcc commented on #442
delete node modules and reinstall `npm i`. Check if env has been passed to template.ejs in node_modules/docsite/lib/generateHTMLFile.js and node_modules/docsite/lib/generateJSONFile.js.
[code]

[2020-03-15 18:18] pengcc commented on #441
/self-assign

[2020-03-15 18:20] pengcc commented on #441
currently displays the time after 2020-03-08. But this issue will be fixed.

[2020-03-15 18:20] pengcc commented on #440
/self-assign

[2020-03-15 20:46] #441 closed, assigned to pengcc

[2020-03-15 23:52] #440 closed, assigned to pengcc

[2020-03-16 00:03] caijunsong opened #449 "官网字体对齐-意大利、葡萄牙显示问题"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
![image](https://user-images.githubusercontent.com/60513505/76713550-65281800-675c-11ea-8a06-0e46e9f1a2fe.png)

![image](https://user-images.githubusercontent.com/60513505/76713554-72dd9d80-675c-11ea-814f-9230bdf895a2.png)
官网意大利语和葡萄牙语显示问题
PC 端Chrome 浏览器
## 期待的正确输出
调整字体大小或者排版使官网显示合适

[2020-03-16 01:02] lovepoem opened #446 "Add “Friendly link ” channel"
## 描述功能要求
添加友情链接频道
Add  “Friendly link ”  channel  in the footer of the template

[2020-03-16 01:11] lovepoem opened #448 "在黑客松项目添加“github”项"
## 描述功能要求
在 https://community.wuhan2020.org.cn/zh-cn/hackathonKanban/index.html 的项目列表中

添加 ： “github”项目：

包含：github 地址 和star数目

项目数据地址：https://shimo.im/sheets/XtgYYwQDwDr6wwPd/MODOC

[2020-03-16 01:29] lovepoem opened #450 "Add gitalk component"
## 描述功能要求

Add gitalk componet
在模板添加gitalk组件，使用github issues做为评论区

[2020-03-16 01:35] jeremy0519 commented on #450
需要github application

[2020-03-16 01:36] lovepoem commented on #450
这个不难

[2020-03-16 01:38] lovepoem commented on #442
Now it is ok, using this method

[2020-03-16 01:38] #442 closed, assigned to nobody

[2020-03-16 01:45] jeremy0519 commented on #450
Import the Gitalk with
`import GitalkComponent from "gitalk/dist/gitalk-component";`
And use the component like

[2020-03-16 01:46] chenrui333 commented on #450
我来弄弄

[2020-03-16 01:48] chenrui333 commented on #450
这个是不是 只能做一个 issue ?

[2020-03-16 01:49] chenrui333 commented on #450
@jeremy0519 `https://github.com/settings/applications/new` 可以在那里注册

[2020-03-16 01:49] jeremy0519 commented on #450
嗯

[2020-03-16 01:54] jeremy0519 commented on #450
应该可以每个页面一个issue

[2020-03-16 02:20] chenrui333 commented on #450
 我直接加到 template.ejs 下面了的，你们看看

[2020-03-16 02:31] jeremy0519 commented on #450
那现在评论区在哪里啊？

[2020-03-16 02:38] chenrui333 commented on #450
好像不太 work。

[2020-03-16 02:45] jeremy0519 commented on #450
是不是要在`src/pags/documention/index.jsx`里面加上

[2020-03-16 02:56] chenrui333 commented on #450
你可以试一试

[2020-03-16 03:11] jeremy0519 commented on #450
先试一下documention

[2020-03-16 03:45] jeremy0519 commented on #450
deploy不行，好像要先安装gitalk，要在package.json里面加上

[2020-03-16 04:00] menbotics[bot] opened #453 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-3-9 to 2020-3-16"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-03-16 04:02] #453 closed, assigned to nobody

[2020-03-16 07:15] zhaofeng-shu33 commented on #446
Friendly link to what?

[2020-03-16 07:22] zhaofeng-shu33 commented on #453
@frank-zsy The bot has bug, I think.

[2020-03-16 07:22] #446 closed, assigned to nobody

[2020-03-16 07:34] jeremy0519 commented on #450
要用npm安装

[2020-03-16 08:22] jeremy0519 commented on #450
应该还要import
`import 'gitalk/dist/gitalk.css'`
`import Gitalk from 'gitalk'`

[2020-03-16 08:22] jeremy0519 commented on #450
deploy还是不行

[2020-03-16 18:18] pengcc commented on #408
/self-assign

[2020-03-17 01:12] lovepoem opened #458 "本地启动报错"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题

[code]

[2020-03-17 01:19] jeremy0519 commented on #458
是gitalk的原因，把那个revert掉就好了

[2020-03-17 01:24] lovepoem commented on #458
最好能查一下适应性的问题。现在线上站点运行正常，就先不用revert 了

[2020-03-17 01:26] #307 closed, assigned to nobody

[2020-03-17 01:29] #308 closed, assigned to nobody

[2020-03-17 01:29] #310 closed, assigned to nobody

[2020-03-17 01:31] #309 closed, assigned to nobody

[2020-03-17 01:34] jeremy0519 commented on #162
The link above redirects to deepscan homepage.

[2020-03-17 01:38] jeremy0519 commented on #243
It's not a big problem.

[2020-03-17 01:38] #243 closed, assigned to nobody

[2020-03-17 01:44] jeremy0519 commented on #163
没有影响

[2020-03-17 01:44] #163 closed, assigned to nobody

[2020-03-17 02:11] lovepoem commented on #458
Convert没有解决，看起来和gitalk有关

[2020-03-17 02:15] jeremy0519 commented on #458
是和gitalk有关，应该是什么地方没有引入

[2020-03-17 02:16] jeremy0519 commented on #458
在npm安装后

[2020-03-17 04:20] jeremy0519 commented on #450
How about using [valine](https://valine.js.org)?

[2020-03-17 04:29] lovepoem commented on #450
先去除所有和gitalk相关的提交，等本地测试通过再提交

[2020-03-17 04:58] #458 closed, assigned to nobody

[2020-03-17 06:37] lovepoem opened #462 "npm run start 报错"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题

[code]

[2020-03-17 06:40] jeremy0519 commented on #462
我也是

[2020-03-17 06:59] zhaofeng-shu33 commented on #462
But the latest deployment succeeds.

[2020-03-17 07:23] lovepoem commented on #462
webpack-dev-server 需要再revert回去老版本

[2020-03-17 07:44] lovepoem commented on #462
@purple-force 这个怎么能升级上去？

[2020-03-17 08:20] zhaofeng-shu33 commented on #462
Which version of webpack-dev-server should be used?

[2020-03-17 08:34] lovepoem commented on #462
revert pr : https://github.com/wuhan2020/wuhan2020.github.io/pull/463

[2020-03-17 08:48] zhaofeng-shu33 commented on #462
I encounter the same problem when `package_lock.json` and `node_modules` are removed.

[2020-03-17 09:56] pengcc commented on #462
Don't just update something unless you have tested it through. I would not recommend upgrading the webpack and related references currently. The version information about the debpack-dev-sever can be found here, https://www.npmjs.com/package/webpack-dev-server.  On the frontend side, there are code smells. They must be cleaned up firstly. Code Quality is important. And the latest version doesn't m

[2020-03-17 10:51] #462 closed, assigned to nobody

[2020-03-17 10:59] #439 closed, assigned to pengcc

[2020-03-17 16:31] lovepoem commented on #450
还有一个问题，是不是得重新建立一个项目作为评论区的存储。为了和真正的bug,.issue分开？

[2020-03-18 00:15] lovepoem opened #468 "Hack for Wuhan - 将决赛视频在官网展示"
## 描述功能要求

Kack for Wuan - 决赛视频处理与展示

决赛积累了不少视频材料，初步设想:

1，将视频进行处理，打上社区标识
2，后端服务做存储与流媒体展示服务
3，官网前端进行展示

[2020-03-18 00:29] jeremy0519 commented on #450
gitalk会把每个issue加上gitalk的标签

[2020-03-18 00:29] jeremy0519 commented on #450
还有gitalk必须要有github账号才能评论

[2020-03-18 01:07] lovepoem commented on #450
嗯 开源社区嘛，那就申请吧

[2020-03-18 05:09] zhaofeng-shu33 commented on #449
@frank-zsy Can you close menbotics for this repo?

[2020-03-18 15:27] #408 closed, assigned to pengcc

[2020-03-18 18:18] nwljy commented on #468
如果有腾讯云或者阿里云，用cos加直播，批量上传视频到cos，调用即可，h5页面调用js，如果red5服务器二次开发

[2020-03-19 00:53] #162 closed, assigned to nobody

[2020-03-19 00:57] jeremy0519 commented on #155
Is there anyone still working on this issue?

[2020-03-19 19:45] pengcc opened #475 "Refactor Header Component"
Refactoring Header Component to functional component with react hooks instead of class component due to the following warning by react-dom:

react-dom.development.js:82 Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're upd

[2020-03-19 19:45] pengcc commented on #475
/self-assign

[2020-03-19 20:15] pengcc opened #476 "Why use react?"
React helps the developer to implement the UI with Component hierarchies. A component should ideally only do one thing, such a technique is the [single responsibility principle](https://en.wikipedia.org/wiki/Single-responsibility_principle).
React allows developers to create large web applications that can change data, without reloading the page. The mission of a component is to render UI. But it'

[2020-03-20 04:41] zhaofeng-shu33 commented on #476
`docsite` is based on React.

[2020-03-20 05:42] jeremy0519 commented on #331
How about [netlify](https://netlify.com)?

[2020-03-20 05:56] zhaofeng-shu33 commented on #331
Maybe this feature is not needed any more. You can close it.

[2020-03-20 07:00] jeremy0519 commented on #331
I think it may be needed. For example, the comment box can be previewed.

[2020-03-22 14:50] lovepoem opened #480 "Wuhan2020 是什么"
https://community.wuhan2020.org.cn/zh-cn/docs/overview/what-is-wuhan2020.html

 建立一个医院、工厂、采购等信息实时同步的数据服务，同时召集所有希望对这次抗击病毒战役进行贡献的人，让每个具有相关技能的人都可以参与相关主题的开发工作，用开源的社区文化，以自组织协作的方式完成。

[2020-03-22 14:53] lovepoem commented on #480
不错的流程总结

[2020-03-22 14:57] lovepoem commented on #480
怎么写？

[2020-03-22 15:06] #480 closed, assigned to nobody

[2020-03-22 15:07] lovepoem opened #481 "Wuhan2020 是什么"
https://community.wuhan2020.org.cn/zh-cn/docs/overview/what-is-wuhan2020.html

 建立一个医院、工厂、采购等信息实时同步的数据服务，同时召集所有希望对这次抗击病毒战役进行贡献的人，让每个具有相关技能的人都可以参与相关主题的开发工作，用开源的社区文化，以自组织协作的方式完成。

[2020-03-22 15:07] lovepoem commented on #481
春天来了吗？

[2020-03-22 15:08] #481 closed, assigned to nobody

[2020-03-22 16:45] lovepoem opened #486 "Gitalk中`id: 'wuhan2020-gitalk'` 导致所有评论都在一个issue"
## 当前问题
[code]
其中
[code]
 id: md5(location.href),
``

[2020-03-23 01:45] lovepoem opened #490 "Wuhan2020 是什么"
https://community.wuhan2020.org.cn/zh-cn/docs/overview/what-is-wuhan2020.html

 建立一个医院、工厂、采购等信息实时同步的数据服务，同时召集所有希望对这次抗击病毒战役进行贡献的人，让每个具有相关技能的人都可以参与相关主题的开发工作，用开源的社区文化，以自组织协作的方式完成。

[2020-03-23 01:45] lovepoem opened #491 "Wuhan2020 FAQ"
https://community.wuhan2020.org.cn/zh-cn/docs/overview/faq.html

 Wuhan2020 FAQ.

[2020-03-23 01:45] lovepoem opened #492 "新型冠状病毒防疫信息平台使用指南"
https://community.wuhan2020.org.cn/zh-cn/docs/user/website-guide.html

 新型冠状病毒防疫信息平台使用指南

[2020-03-23 01:45] lovepoem opened #493 "project-donate-guide"
https://community.wuhan2020.org.cn/zh-cn/docs/dev/project-donate-guide.html

 project-donate-guide

[2020-03-23 02:10] lovepoem commented on #493
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 02:10] #493 closed, assigned to nobody

[2020-03-23 02:11] lovepoem commented on #492
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 02:11] #492 closed, assigned to nobody

[2020-03-23 02:12] lovepoem commented on #491
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 02:12] #491 closed, assigned to nobody

[2020-03-23 02:13] lovepoem commented on #490
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 02:13] #490 closed, assigned to nobody

[2020-03-23 02:14] lovepoem commented on #486
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 02:14] #486 closed, assigned to nobody

[2020-03-23 02:14] lovepoem commented on #486
Closed via https://github.com/wuhan2020/wuhan2020.github.io/pull/494

[2020-03-23 03:34] iLtc commented on #331
我给咱们的站点挂了 Netlify，现在每个 PR 都会生成一个预览，效果如图：

![image](https://user-images.githubusercontent.com/4352234/77278321-73fb5700-6c95-11ea-83a3-f0e9ab463c4d.png)

点 1 可以看到那些页面发生了变化，点 2 可以看预览站点。

Netlify 免费账户有 300 分钟的 build 时间，咱们先用着，满意的话后面可以加入他们的开源项目计划。

[2020-03-23 04:00] menbotics[bot] opened #496 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-3-16 to 2020-3-23"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-03-23 04:06] jeremy0519 commented on #331
@iLtc Can you share the domain?

[2020-03-23 04:07] jeremy0519 commented on #496
I think there is something wrong with the bot

[2020-03-23 04:07] #496 closed, assigned to nobody

[2020-03-23 04:08] #450 closed, assigned to nobody

[2020-03-23 04:49] iLtc commented on #331
@jeremy0519

The domain is different for each PR since it contains the issue id: https://deploy-preview-[ISSUE ID]--reverent-lumiere-ad26e3.netlify.com/.

You can see the specific link for each PR on the PR page.

You can check #497 for example.

[2020-03-24 03:34] lovepoem opened #498 "添加“抗疫经验” 经验频道"
## 描述功能要求

添加“抗疫经验” 经验频道，收集转载各个机构的经验总结，例如：

1、马云基金会的《新冠肺炎防治手册》（篇医院经验）
地址：https://covid-19.alibabacloud.com/zh#J_8102420620

2、银杏基金的版本《应对新冠肺炎疫情实用指南》 偏个人
地址：http://www.ginkgofoundation.org/practical-guide
…………

要求：
    1、用网页markdown形式转载
    2、附件可以附上原版中的pdf（方便转发）下载地址
    3、注明出处

[2020-03-24 03:38] lovepoem opened #499 "建立《抗疫经验》频道的桩子"
## 描述功能要求

 在顶级菜单添加《抗疫经验》频道

[2020-03-24 06:36] #499 closed, assigned to nobody

[2020-03-24 11:52] lovepoem commented on #155
No

[2020-03-24 17:10] zhaofeng-shu33 commented on #155
it can be closed, I think

[2020-03-24 23:51] #155 closed, assigned to lovepoem, chenrui333, bao1018, frank-zsy, TechQuery, JoeZijunZhou, CNYoki, GindaChen, katejia110

[2020-03-25 04:00] #331 closed, assigned to nobody

[2020-03-30 01:09] lovepoem opened #504 "添加"招聘汇" 模块，方便企业发布招人信息"
## 描述功能要求

1、添加"招聘汇" 模块，方便企业发布招人信息。
2、用人方直接利用原有的gitalk评论发布，应聘者可以评论回复
3、我们是一个因为危机事件而发起的社区，社区人员构成比较复杂。需要讲一下我们社区的基本人员构成，方便用人方贴信息。

[2020-03-30 01:47] yangli-os commented on #504
社区基本人员构成：75%技术；%5的翻译人员；5%的产品经理；2.5%的协调、管理；1%风控和法务；5%宣传；5%信息录入；1.5%其他。

[2020-03-30 02:13] tjob-slack commented on #504
可否指导一下，如何操作？
比如：要求什么工具，接口，如何发布代码。

[2020-03-30 02:16] tjob-slack commented on #504
数据字典：
需求单位
需求岗位
任职资格
技能要求
工作职责描述
工作待遇
工作上下级汇报关系
单位介绍
需求人数
有效日期
申请日期
完成日期

[2020-03-30 02:30] iLtc commented on #504
我之前看到一个社区发布流程是这样的，供参考：

1. 用人方通过提 issue 的方式来申请发布职位，issue 我们可以做个模版，包括 @tjob-slack 提出的这些字段

2. 我们审核 issue，完善细节

3. approve 之后由 bot 把 issue 复制到某个目录下，然后编译成招聘页面

[2020-03-30 04:00] menbotics[bot] opened #505 "[WeeklyReport] Weekly report for wuhan2020.github.io 3/23/2020 to 3/30/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-03-30 04:14] tjob-slack commented on #504
请问“编译成页面” 这步具体怎么实现呢？

[2020-03-30 04:17] tjob-slack commented on #504
@iLtc 说的issue模版，和 @16647615268 你说的gitalk，不知道是不是一样的？

[2020-03-30 07:49] lovepoem commented on #504
其实我还没有想好审核流程

[2020-03-30 07:50] lovepoem commented on #504
这个要是能找到出处，我们参考下。不然就先不加审核

[2020-03-30 08:33] tjob-slack commented on #504
说的审核，其实就是核实信息和完善信息，然后再正式发布吧？
不一定是功能性流程，可以人工打标记，然后让bot把带标记的发布出去。

[2020-03-30 08:34] tjob-slack commented on #504
在哪收集数据、在哪发布页面，这两个前后端的接口定了，后面就可以开始工作了。

[2020-03-30 08:54] lovepoem commented on #504
https://github.com/wuhan2020/wuhan2020.github.io/pull/170 请参考这个pr，调试发布过程，请看README文档

[2020-03-30 08:55] lovepoem commented on #504
直接在评论里面发布吧，简单粗暴点

[2020-03-30 13:56] iLtc commented on #504
就是由机器人把 issue 内容复制到咱们站点的某个目录下，然后咱们站点的引擎编译，跟 blog 模块差不多那样

应该不一样，我是指提一个新的 issue，gitalk 会在现有 issue 下增加评论

我觉得审核要稍微做一下，不然别人通过我们平台找工作被骗了，会不会回来找我们？

这是我以前加的一个当地的 ruby group 搞的，后来和大区的 ruby community 合并已经不存在了

[2020-03-30 14:06] iLtc commented on #504
可以理解为直接新建一个页面，然后让用户在评论区发布职位和讨论，对吗？@lovepoem

[2020-03-30 15:02] lovepoem commented on #504
嗯

[2020-03-30 15:27] tjob-slack commented on #504
关于招聘会的需求：
1） 招聘需求的显示：会在项目web主页放个板块？ （ https://community.wuhan2020.org.cn/zh-cn/index.html）
2） 招聘需求的发布：是在项目github填写？ （https://github.com/wuhan2020/wuhan2020）
2.1 ）ISSUE填写我知道，是在issue下面，gitalk在哪里填写？
3）总体需求是需要编写代码，把2）的页面，在1）下面显示，是这样吗？
3.1）那么写代码和github bot机器人是什么关系?

[2020-03-30 15:31] tjob-slack commented on #504
![image](https://user-images.githubusercontent.com/60630538/77931305-9832e580-72de-11ea-82db-51a5c8ce7481.png)
页面设计建议

[2020-03-31 00:21] tjob-slack commented on #504
下面这个图是不是gitalk？  引自 #497
![image](https://user-images.githubusercontent.com/60630538/77973994-6e9eac00-7328-11ea-95ee-9f29de30e067.png)

[2020-03-31 00:32] iLtc commented on #504
是的

[2020-03-31 04:55] tjob-slack commented on #504
请教”招聘汇“目录在哪里创建？
（计划：目录创建后，1）有个基本页面  2）把gitalk先挂上去）

[2020-03-31 05:55] #505 closed, assigned to nobody

[2020-03-31 05:57] HelloKittyHacker commented on #316
Wow that's incredible!!

[2020-03-31 19:01] tjob-slack commented on #504
实现思路：
1）入口：一个readme的markdown页面。说清楚怎么按模板写招聘需求。
2）招聘方在评论区填写招聘需求
3）(页面打开时)自动从评论抓取招聘需求清单
4） (自动)对需求分类，分类作为菜单目录放入本版块主页
5）点击分类菜单，显示该分类下的具体招聘需求摘要列表
6）点击某招聘需求，打开详情页。
7）用户可以单个（详情页）或者（列表页）批量申请应聘（待定）（需要另外一个评论仓库保存）
8）调用mermain显示需求和应聘者的分析图表（待定）

[2020-04-01 10:34] zhaofeng-shu33 commented on #280
I wonder how to push to gitee without prompt of username and password. @iLtc

[2020-04-01 12:54] iLtc commented on #280
There is a sync button on Gitee that we can manually click to triage the sync, but there is no API to do that automatically.

To push the updates automatically, we need either username and password or SSH key. As far as I knew, these are the only two ways to push automatically.

The reason why I choose to not use SSH key is that there is a prompt to accept the server key, and developers are discou

[2020-04-01 14:08] zhaofeng-shu33 commented on #280
So in this repo, we use "username and password" method?

[2020-04-03 02:09] mathwyz opened #509 "理事会成立后，社区的官网升级"
## 描述功能要求

1， 首页:在官网首页列出社区新的使命，愿景，slogan，列出孵化的核心项目，年度关键计划项目等

2 组织架构:将“贡献者“频道修改为“组织文化“频道，介绍组织架构，理事会成员，工作小组职能，社区愿景等

##  相关文案：
https://community.wuhan2020.org.cn/zh-cn/blog/wuhan2020-plan.html

##  产品思路和设计
   需要对官网的整体设计进行修改，能更好展示社区的使命，愿景，slogan，项目、架构文化等等

[2020-04-03 10:33] wertycn opened #511 "4月4日清明将网站置灰一天 响应全民哀悼活动"
4月4日清明节全国哀悼 将网站置灰一天 响应全民哀悼活动 不忘记每个因疫情逝去的人

[2020-04-03 13:55] #511 closed, assigned to pengcc

[2020-04-04 14:27] #504 closed, assigned to nobody

[2020-04-04 15:18] lovepoem commented on #509
![mmexport1586013444528](https://user-images.githubusercontent.com/827112/78454431-8bd9ce80-76ca-11ea-936b-8b52d4aac4d1.jpg)
@1Namaste96 的设计见上图，大家可以讨论

[2020-04-04 23:03] lovepoem commented on #498
内容来源 https://www.notion.so/Wiki-fa21d9bb1a0c4a268bf0f0f438980a82

[2020-04-05 02:32] #475 closed, assigned to pengcc

[2020-04-05 10:18] lovepoem commented on #315
暂时关闭，没有完成的工作，可以重新建立issue

[2020-04-05 10:18] #315 closed, assigned to zhaofeng-shu33, jeremy0519

[2020-04-05 10:19] lovepoem commented on #347
可能是网络问题，现在不能重现

[2020-04-05 10:19] #347 closed, assigned to nobody

[2020-04-05 10:21] lovepoem commented on #316
暂时关闭，有问题随时打开

[2020-04-05 10:21] #316 closed, assigned to GindaChen

[2020-04-05 11:09] jeremy0519 opened #525 "Add search component"
在右上角添加搜索框，比如可以用algolia search实现站内搜索

[2020-04-05 12:03] lovepoem commented on #525
以前都已经加上了，被删除了

[2020-04-05 12:38] jeremy0519 commented on #525
为什么被删了？

[2020-04-06 04:00] menbotics[bot] opened #528 "[WeeklyReport] Weekly report for wuhan2020.github.io 3/30/2020 to 4/6/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-04-06 05:06] #528 closed, assigned to nobody

[2020-04-06 12:03] pengcc opened #530 "active menu item not highlighted"
## 当前问题
请描述清楚你使用的环境，最好有相应的截图以便我们重现问题
The active menu item is not highlighted.

## 期待的正确输出
Active menu item should be highlighted.

[2020-04-06 12:03] pengcc commented on #530
/self-assign

[2020-04-06 12:19] pengcc commented on #509
思考：社区输出什么？加入社区能获得什么，加入社区运营能获得什么，加入社区技术开发可以获得什么，加入社区前端/后端开发可以获得什么（官网没有后端，可能也不需要）？

[2020-04-06 13:33] #530 closed, assigned to pengcc

[2020-04-07 03:27] lovepoem commented on #509
一个非常好的问题：**一个人在开源社区混（提交代码、code review、发表评论、甚至旁观）能得到什么？**

我看这个问题主要是以一个开发者的角度提出的问题，那我就回答一下我的理解：

**1**、开源社区的核心要能提供足够 “硬” 的开源项目，这个项目能被开发者直接使用在生产、学习之中。并且开发者能参与此开源项目的开发：
    目前的情况：因为社区是因为疫情发起，目前社区积累的项目主要是解决疫情问题的代码或者idea
    **代码**见：https://community.wuhan2020.org.cn/zh-cn/project/index.html
    **孵化中的IDEA**见：  https://community.wuhan2020.org.cn/zh-cn/hackathonKanban/index.html
    这些目前或者以后，将会为国内外的公益社区

[2020-04-07 11:25] lovepoem commented on #525
应该是重构中功能丢失了，搜索见READM.md的最下方，有添加的方法

[2020-04-09 15:28] chengjinshan commented on #509
社区输出什么？
因疫而聚，以技集结。我想是一份能量，团结一心的正能量。

加入社区能获得什么？
1. 强迫自己动起来，打破舒适区。
以前有多少人上着班说没时间学习看书，这个组织或平台能够给边工作边挤出时间来参与的朋友一个机会，不只是要感谢平台，也为参与其中的每个人点赞。

2.提升自己，展现技能
圈定圈子，热爱互联网，热爱IT行业的同学在这里都可以有所收获，有所展现，你都可以提出你天马行空的想法，一群陌生而又因某种技能熟悉的人一起讨论实现，难道不是一件很酷的事情么？

3.影响力
需要做些有影响力的事情，每个人的成就感来自于所做事情或产品的影响力，个人一点想法，我们还需要时不时的在一起聊一下想法，明确和聚焦要做的，楼主确实很用心，如何让参与人真的参与进入这是一件很难得事。

呃呃呃，都是瞎想的。。。

[2020-04-13 04:00] menbotics[bot] opened #537 "[WeeklyReport] Weekly report for wuhan2020.github.io 4/6/2020 to 4/13/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-04-20 04:00] #537 closed, assigned to nobody

[2020-04-20 04:00] menbotics[bot] opened #538 "[WeeklyReport] Weekly report for wuhan2020.github.io 4/13/2020 to 4/20/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-04-21 23:04] #538 closed, assigned to nobody

[2020-04-23 07:15] lovepoem commented on #468
重复https://github.com/wuhan2020/wuhan2020.github.io/issues/467

[2020-04-23 07:15] #468 closed, assigned to nobody

[2020-04-27 04:00] menbotics[bot] opened #542 "[WeeklyReport] Weekly report for wuhan2020.github.io 4/20/2020 to 4/27/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-05-04 04:00] #542 closed, assigned to nobody

[2020-05-04 04:00] menbotics[bot] opened #544 "[WeeklyReport] Weekly report for wuhan2020.github.io 4/27/2020 to 5/4/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-05-11 04:00] #544 closed, assigned to nobody

[2020-05-11 04:00] menbotics[bot] opened #547 "[WeeklyReport] Weekly report for wuhan2020.github.io 5/4/2020 to 5/11/2020"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-05-18 04:00] #547 closed, assigned to nobody

[2020-05-18 04:00] menbotics[bot] opened #550 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-5-11 to 2020-5-18"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-05-25 04:00] #550 closed, assigned to nobody

[2020-05-25 04:00] menbotics[bot] opened #552 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-5-18 to 2020-5-25"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-01 04:00] #552 closed, assigned to nobody

[2020-06-01 04:00] menbotics[bot] opened #555 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-5-25 to 2020-6-1"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-08 04:00] #555 closed, assigned to nobody

[2020-06-08 04:00] menbotics[bot] opened #556 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-6-1 to 2020-6-8"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-15 04:00] #556 closed, assigned to nobody

[2020-06-15 04:00] menbotics[bot] opened #557 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-6-8 to 2020-6-15"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-22 04:00] #557 closed, assigned to nobody

[2020-06-22 04:00] menbotics[bot] opened #559 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-6-15 to 2020-6-22"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-29 04:00] menbotics[bot] opened #560 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-6-22 to 2020-6-29"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-06-29 04:00] #559 closed, assigned to nobody

[2020-07-06 04:00] #560 closed, assigned to nobody

[2020-07-06 04:00] menbotics[bot] opened #561 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-6-29 to 2020-7-6"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-07-13 04:00] menbotics[bot] opened #562 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-7-6 to 2020-7-13"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-07-13 04:00] #561 closed, assigned to nobody

[2020-07-20 04:00] #562 closed, assigned to nobody

[2020-07-20 04:00] menbotics[bot] opened #563 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-7-13 to 2020-7-20"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-07-27 04:00] #563 closed, assigned to nobody

[2020-07-27 04:00] menbotics[bot] opened #565 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-7-20 to 2020-7-27"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-03 04:00] #565 closed, assigned to nobody

[2020-08-03 04:00] menbotics[bot] opened #566 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-7-27 to 2020-8-3"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-10 04:00] #566 closed, assigned to nobody

[2020-08-10 04:00] menbotics[bot] opened #567 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-8-3 to 2020-8-10"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-17 04:00] #567 closed, assigned to nobody

[2020-08-17 04:00] menbotics[bot] opened #568 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-8-10 to 2020-8-17"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-24 04:00] #568 closed, assigned to nobody

[2020-08-24 04:00] menbotics[bot] opened #569 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-8-17 to 2020-8-24"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-31 04:00] menbotics[bot] opened #570 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-8-24 to 2020-8-31"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-08-31 04:00] #569 closed, assigned to nobody

[2020-09-07 04:00] #570 closed, assigned to nobody

[2020-09-07 04:00] menbotics[bot] opened #571 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-8-31 to 2020-9-7"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-09-14 04:00] #571 closed, assigned to nobody

[2020-09-14 04:00] menbotics[bot] opened #572 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-9-7 to 2020-9-14"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-09-21 04:00] #572 closed, assigned to nobody

[2020-09-21 04:00] menbotics[bot] opened #573 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-9-14 to 2020-9-21"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-09-28 04:00] #573 closed, assigned to nobody

[2020-09-28 04:00] menbotics[bot] opened #574 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-9-21 to 2020-9-28"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-10-05 04:00] #574 closed, assigned to nobody

[2020-10-05 04:00] menbotics[bot] opened #590 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-9-28 to 2020-10-5"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-10-12 04:00] #590 closed, assigned to nobody

[2020-10-12 04:00] menbotics[bot] opened #592 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-10-5 to 2020-10-12"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-10-19 04:00] #592 closed, assigned to nobody

[2020-10-19 04:00] menbotics[bot] opened #595 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-10-12 to 2020-10-19"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-10-26 04:00] #595 closed, assigned to nobody

[2020-10-26 04:00] menbotics[bot] opened #596 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-10-19 to 2020-10-26"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|:

[2020-11-02 04:00] #596 closed, assigned to nobody

[2020-11-02 04:00] menbotics[bot] opened #597 "[WeeklyReport] Weekly report for wuhan2020.github.io 2020-10-26 to 2020-11-2"
# Weekly Report of wuhan2020.github.io

This is a weekly report of wuhan2020.github.io. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.

## Repo Overview

### Basic data

Baisc data shows how the watch, star, fork and contributors count changed in the passed week.

| Watch | Star | Fork | Contributors |
|: